extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

block side_content

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 守ってゆきたい
        .e-main 伝統手作りの味

      //
        p.e-desc 山形県産大豆・米を使った
          br
          | 甘みたっぷりやさしい味のみそづくり

        .e-image
          +img(src="./images/miso-kv.jpg" alt="味噌作り講座の様子")


  .l-content-column
    p.u-ml-30.u-mb-80.
      「春」 の息吹を漬け込みます<br><br>
      「夏」 の咆哮醸し出し、 　味噌は静かに色付きます<br><br>
      「秋」 の実りと祝福を、 樽で寝かせて醤油は生まれ<br><br>
      「冬」 悴む指先で餅の体温に触れる<br><br>
      四季の吐息にありつく

  p.u-tac.u-mb-60.u-color-red.
    おいしさと健康の為に、すべての商品（天日干し梅干しを除く）
    塩分10％以下を目指します！

  .l-content-column
    .c-grid
      section#miso.c-grid__cell.is-6.is-sp-12.u-mb-60
        header.p-dentou-banner.u-mb-20
          +img.e-img(src="/images/banner-dentou-miso.jpg" alt="糀たっぷり天然醸造味噌のイメージ")
          h2.e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 糀たっぷり天然醸造味噌

        p.
          創業まもなく100年の味噌蔵で作る、天然醸造のやさしい味わい、蔵出しの味。
          22割、18割、15割こうじとは？おいしさを求めていったら、甘く減塩になりました。
          安心安全、全量「山形県産大豆・米」を使っています。
          数量限定。昔ながらの手作り、天然醸造のため、数に限りがございます。
          つぶした大豆と出来立ての米こうじと塩を合わせる行程は、すべて手作業。

        .u-mt-10
          a.c-button.is-center(href="/dentou/miso/") 詳しく読む


      section#umeboshi.c-grid__cell.is-6.is-sp-12.u-mb-60
        header.p-dentou-banner.u-mb-20
          +img.e-img(src="/images/banner-dentou-umeboshi.jpg" alt="天日干し梅干しのイメージ")
          h2.e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 天日干し梅干し

        p.
          昔ながらの製法で、山形県産の「谷沢梅」を使った本物の味わい。
          山形県産の「谷沢梅」、赤しそ、そして塩だけ。
          しょっぱくて、酸っぱい。これぞ本物の味わいです！
          さとみの梅干しの作り方もご紹介。

        .u-mt-10
          a.c-button.is-center(href="/dentou/umeboshi/") 詳しく読む

      section#seisai.c-grid__cell.is-6.is-sp-12.u-mb-60
        header.p-dentou-banner.u-mb-20
          +img.e-img(src="/images/banner-dentou-seisai.jpg" alt="雪あたり青菜漬のイメージ")
          h2.e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 雪あたり青菜漬

        p.
          一度食べたら忘れられない、辛みと風味が特徴！
          山形が誇る青菜漬（せいさいづけ）。
          おみ漬と同じ山形青菜で漬け込みます。
          あえて、「雪にあててから収穫」。これが秘訣！
          甘みも増し、繊維も柔らかく、絶品の青菜漬に。
          アイデア広がるいろんな食べ方！漬け物、煮物、おにぎりにも。

        .u-mt-10
          a.c-button.is-center(href="/dentou/seisai/") 詳しく読む

      section#mochi.c-grid__cell.is-6.is-sp-12.u-mb-60
        header.p-dentou-banner.u-mb-20
          +img.e-img(src="/images/banner-dentou-mochi.jpg" alt="杵と臼でついた餅のイメージ")
          h2.e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 杵と臼でついた餅

        p.
          人が杵と臼で搗いた昔ながら本物の餅！ 「杵つき切り餅」をお届けします。
          日本でおそらく、私たちだけ。 機械で搗いた餅、餅屋さんの餅とは、おいしさが全く違います。
          幻の「晩白玉」100％使用。つるっとして、コシが強い！
          大曽根の餅には、歴史があります。

        .u-mt-10
          a.c-button.is-center(href="/dentou/mochi/") 詳しく読む
