extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "糀たっぷり天然醸造味噌";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

block side_content

  .l-content-column
    include /include/dentou-banners.pug
    +dentouBanners(PAGE_NAME)

  include /include/dentou-product-miso.pug