extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "mochi";
  - const PAGE_NAME_JA = "臼と杵でついた餅";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"
        

block side_content
  .l-content-column
    include /include/dentou-banners.pug
    +dentouBanners(PAGE_NAME)

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 臼と杵でついた
        .e-main 餅

      p.e-desc.
        人が杵と臼で搗いた昔ながら本物の餅！<br>
        「杵つき切り餅」をお届けします。<br>
        日本でおそらく、私たちだけ。<br>
        機械で搗いた餅、餅屋さんの餅とは、おいしさが全く違います。

      .e-image
        img(src="/images/mochi-kv.png" alt="")

    section.u-mb-60
      h2.c-h2: .e-content 幻の「晩白玉」<br class="u-sp">100％使用

      p.u-tac.u-mb-10 つるっとして、コシが強い！
      p.u-mb-10.
        餅米は、大曽根地区に昔から伝承している幻の餅米と言われる「晩白玉（おくしらたま）」100％使用。
        その名の通り、「白玉」の様につるっとした白色、コシの強さとのどごしの良さがとてもいいのが特徴です。

      p.u-mb-10.
        一般の稲穂に比べて丈が長いため刈り取りづらく、また収穫時期も遅いので、生産販売には向かない品種でした。
        一部の農家の方が、自家用に作っていた「晩白玉」の味わいの良さを再発見した当大曽根餅つき保存会が2000年より栽培を復活させた餅米です。

      p.u-mb-10.
        このおいしい「晩白玉」を、セイロで蒸上げ、山形市切畑産の杵と臼で、人が搗き上げました。
        搗けば搗くほどツルッときめ細やかな餅になると、誠心誠意、ひと臼ひと臼搗き上げた餅でございます。


      p.u-mb-10 そのため、

      ol.c-ol.u-mb-10
        li 市販品の切り餅よりも、早く焼ける。つまり早く柔らかくなる。
        li 焼き上がりが柔らかいのに、コシがある。

      p.u-mb-30.
        という特徴があり、とても美味しいお餅です。

      .c-grid
        .c-grid__cell.is-6.is-sp-12
          figure.c-figure
            +img(src="/images/mochi-okushiratama.jpg" alt="炊き立ての晩白玉")
            figcaption.e-figcaption 炊き立ての晩白玉


        .c-grid__cell.is-6.is-sp-12
          figure.c-figure
            +img(src="/images/mochi-tsuki.jpg" alt="人が餅をついている様子")
            figcaption.e-figcaption 餅つきの様子
        
        
        


    section.u-mb-60
      h2.c-h2: .e-content 大曽根の餅には、<br class="u-sp">歴史があります。

      p.u-mb-20.
        山形市の西部田園地帯にある大曽根地区では、昔から暮れになると農家の若者達がリヤカーに臼、杵、セイロなどをのせ、市街地の各家々で餅をついて廻る風習がありました。
        これは、各家庭から畑にまく「こやし」を頂いたお礼として餅米を渡しておりました。
        その餅米をその場で蒸かし、搗いて差し上げると、「おめでたい！」とちょっとした小遣いを頂けました。
        これが若者達の冬の楽しみの一つでもありました。

      .u-clearfix
        .u-fll
          figure.c-figure
            img(src="/images/mochi-tv.jpg" alt="「ＴＶチャンピオン」の“全国餅つき王選手権”")
            figcaption.e-caption 「ＴＶチャンピオン」の“全国餅つき王選手権”
        
        p.
          高度成長期以降、廃れてしまったその風習を現代風にアレンジし、復活させようとの目的で、平成１４年に「大曽根餅つき保存会」を設立しました。
          農村と市街地の交流が新しい形で復活することが出きました。
        p.
          その活動が認められ、テレビ東京番組の「ＴＶチャンピオン」の“全国餅つき王選手権”にも平成１７年、１８年と２年連続出場致し、山形の伝統的な餅つきを全国にご披露しました。



    section.u-mb-60
      h2.c-h2: .e-content 山形名物「納豆餅」とは

      .u-clearfix
        .u-flr
          figure.c-figure
            img(src="/images/mochi-nattou.jpg" alt="")
            figcaption.e-figcaption 山形名物「納豆餅」
      
        p 納豆に醤油を加え、搗きたての餅、または、切り餅を焼いたものを入れて混ぜて食べる、シンプルだけど、とてもおいしい山形の郷土料理です。
        p 納豆餅をに最適なのが、餅専用醤油「もちだまり」。

    section.u-mb-60#mochidamari
      h2.c-h2: .e-content 餅専用醤油「もちだまり」

      .c-grid.u-mb-60
        .c-grid__cell.is-9.is-sp-12.u-mb-60
          p.
            餅のうまみを引き立たせるために作った醤油です。
            尚、もちだまり醤油は減塩あまくちですので、たっぷりお使い頂いても、塩辛くありませんので、十分からめてお召し上がりください。

          p.
            磯辺餅の場合も、両面にもちだまり醤油をたっぷりつけてから海苔をまくと尚おいしいです。
            また、あまった場合は、かけ醤油として、納豆、海苔、おひたし、
            湯豆腐などにお使いくださいませ。

          //-
            p.u-tar
              a(href="/product/mochidamari/").c-link もちだまりについてはこちら

        .c-grid__cell.is-3.is-sp-12.u-mb-60
          figure.c-figure
            +img(src="/images/bottle-mochidamari.jpg" alt="もちだまり")
            figcaption.e-caption もちだまり

    section.u-mb-60
      h2.c-h2: .e-content おすすめセット

      .c-grid.u-mb-60
        .c-grid__cell.is-6.is-sp-12.u-mb-60
          h3.c-h3 セット内容　A

          p.u-tac
            +img(src="/images/mochi-set-a.jpg" alt="セットA")
          ul.c-ul.u-mb-30
            li 
              strong 「人が杵と臼で搗いた」切り餅16枚。
            li 
              strong 餅専用醤油「もちだまり」 　
              p 磯辺餅、山形名物納豆餅に最適なほんのり甘くて塩気がやさしい味のいい醤油です。
              a.c-link(href="/dentou/mochi/#mochidamari") 「もちだまり」 について
            li 
              strong きな粉
              p 味付け済み。すぐにお使いになれます。

          p このセットのみで複数の味付けを楽しめます！
          
          .u-mt-30
            a(href="/product/mochi/purchase/a-set" target="_blank").c-button.is-pink.is-center 杵つき切り餅 <br>Aセットを購入 <i class="fas fa-shopping-cart"></i>

        .c-grid__cell.is-6.is-sp-12.u-mb-60
          h3.c-h3 セット内容　B

          p.u-tac
            +img(src="/images/mochi-set-b.jpg" alt="セットB")

          ul.c-ul.u-mb-30
            li: strong 「人が杵と臼で搗いた」切り餅16枚＋6枚。

          p ※「もちだまり」と「きな粉」はついていません。切り餅のみ増量したタイプです。
          p 余っている方や購入済みの方におすすめです。

          .u-mt-30
            a(href="/product/mochi/purchase/b-set" target="_blank").c-button.is-pink.is-center 杵つき切り餅  <br>Bセットを購入 <i class="fas fa-shopping-cart"></i>


    section.u-mb-60#mochidamari
      .c-caution.u-mb-40
        h2.e-title 賞味期限についてのご注意
        p.e-desc.
          切り餅には保存料が入っておりません。<br>
          お手元に届き次第、包装紙を取り除き、ポリ袋に移し入れ冷蔵庫に保管し、お早めにお召し上がりくださいませ。<br>
          尚、冷蔵での賞味期限10日間まで食べきれない場合は、冷凍してください。（冷凍後は3か月以内にお召し上がりください。）


    include /include/contact-tel

    +contactTel({message:"「"+PAGE_NAME_JA+"を購入したい」旨<br>お伝えください。"})




  .l-content-column
    +dentouBanners(PAGE_NAME)