extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "seisai";
  - const PAGE_NAME_JA = "";
  - const PAGE_DESCRIPTION = ""

block side_content

  .l-content-column
    include /include/dentou-banners.pug
    +dentouBanners(PAGE_NAME)

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 山形冬限定の美味しさ
        .e-main 雪あたり青菜漬

      p.e-desc 一度食べたら忘れられない、辛みと風味が特徴！
        br
        |山形が誇る青菜漬（せいさいづけ）。

      .e-image
        img(src="/images/seisai-kv.jpg", alt="")
 
 

    section.u-mb-60
      h2.c-h3.u-color-red おみ漬と同じ山形青菜で漬け込みます。

      .c-grid
        .c-grid__cell.is-7.is-sp-12


          p.u-mb-30.
            青菜漬（せいさいづけ）は、幅広で肉厚の茎が特徴で、サクサクとした歯ごたえが抜群の漬物です。
            漬けたては青々として辛みがありますが、漬け込むとまろやかになり、だんだんべっ甲色になってきます。
            酸味が来るその味わいの変化も楽しめる越冬用のお漬け物です。
            全国の食通達から「一度、食べると忘れられない味になる」と言われていますが、同じくアブラナ科かぶの一種の長野県の野沢菜漬に比べてまだまだ知名度が低いようです。
            知る人ぞ知るおいしさをぜひ、あなたも！

        .c-grid__cell.is-5.is-sp-12
          figure.c-figure
            img(src="/images/seisai-sara.jpg", alt="")



    section.u-mb-60
      h2.c-h3.u-color-red あえて、「雪にあててから収穫」。これが秘訣！<br>甘みも増し、繊維も柔らかく、絶品の青菜漬に。


      .c-grid
        .c-grid__cell.is-7.is-sp-12
          p.u-mb-10.
            青菜（せいさい）は、山形県でも山形市周辺の山形盆地に適したアブラナ科の高菜の一種で、東北地方唯一の高菜です。
            幅広で肉厚の茎が特徴です。
            9月上旬に種をまき、一般的には雪が降る前の11月下旬に摘み取ります。

        .c-grid__cell.is-5.is-sp-12
          figure.c-figure
            img(src="/images/seisai-hatake.jpg", alt="")
            figcaption.e-figcaption 青々とした青菜（せいさい）
        

      .c-grid.is-reverse

        .c-grid__cell.is-7.is-sp-12
          p.u-mb-10.
            しかし、さとみの「雪あたり青菜漬」は厳選した農家の方に、あえて雪があたるまで摘み取りを待ってもらいます。
            それは、雪にあたると繊維も柔らかくなり、甘みがぐんと増すからです。
            この事は、昔から研究熱心な農家の人だけが知っている知恵でした。

        .c-grid__cell.is-5.is-sp-12
          figure.c-figure
            img(src="/images/seisai-mamas.jpg", alt="")
            figcaption.e-figcaption 私たちが作っています！


      .c-grid
        .c-grid__cell.is-7.is-sp-12
          p.u-mb-10.
            その青菜を塩で下漬けします。
            塩がきちんと浸透してから、さとみの秘伝の漬物の素である「魔法のたれ」で本漬けと二度漬けしています。
            地元山形の人でさえも、めったに口にすることの出来ない「雪あたり青菜漬」をどうぞご堪能下さい。

        .c-grid__cell.is-5.is-sp-12
          figure.c-figure
            img(src="/images/seisai-tsuke.jpg", alt="")


       
    section.u-mb-60
      h2.c-h3.u-color-red アイデア広がるいろんな食べ方！漬け物、煮物、おにぎりにも。

      .c-grid
        .c-grid__cell.is-8.is-sp-12
          p.u-mb-30.
            まずは、3～5cm位に切って漬物として召し上がってください。
            白いご飯と青菜漬さえあれば、他になにもいりません！
            漬けたては、少し辛みが感じられます。
            この辛みは青菜特有の辛みですが、漬け込めば漬け込むほどに辛みが抜けていきますので、お好みでどうぞ。
            その他には、茎の部分を細かく刻んで、さっとお湯にくぐし、ざるにあけて水気を絞ります。
            これを煮物にするのが、昔から伝わる「茎菜煮（くきなに）」です。
            また、細かく刻んだ青菜漬をゴマ油で炒めて、だし醤油でさっと味つけ、白ごまや一味をかけても美味しいです。
        
        .c-grid__cell.is-4.is-sp-12
          figure.c-figure
            img(src="/images/seisai-yukiatariseisai.jpg", alt="青菜の茎菜煮")
            figcaption.e-figcaption 青菜の茎菜煮

      p.u-mb-10.
        葉の部分は、海苔のかわりにおにぎりにまいて食べるのが、昔から子ども達の楽しみでした。
        こちらも、ぜひお試し下さい。


      a.c-button.is-yellow.is-general(href="https://recipe.niizekisatomi.com/recipes?recipe_ingredients=%E9%9D%92%E8%8F%9C" target="_blank") 青菜漬のレシピ <i class="fas fa-shopping-cart"></i>

    section.u-mb-60

      h2.c-h3.u-color-red 漬け上がりをお届けします。出荷できるのは、12月から。数に限りがございますのでお早めに！
      p.
        さとみの「雪あたり青菜漬」は、着色料などは一切使っていない、自然の青菜の緑色が楽しめます。
        また、真空パックをすると本来の漬物の歯ごたえでなくなるので、当組合では致しておりません。
        気温が低くなり日持ちが自然とよくなる寒さになるまで漬け込みを行わない、昔ながらの製法です。
        12月までお待ち頂く価値のある味わい深い青菜漬です。
      p.
        11月下旬に、青菜を摘み取り下漬けした後、二度漬けして12月中旬に漬け上がります。
        お届けは12月20日前後となります。
      


      p.u-tac.u-mt-60.u-mb-60
        a.c-button.is-pink.is-general(href="/product/seisai/purchase/" target="_blank") 青菜漬を購入する <i class="fas fa-shopping-cart"></i>

      include /include/contact-tel
      +contactTel({message:"「青菜漬けを購入したい」旨<br>お伝えください。"})

  .l-content-column
    +dentouBanners(PAGE_NAME)