extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "umeboshi";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

block side_content

  .l-content-column
    include /include/dentou-banners.pug
    +dentouBanners(PAGE_NAME)


  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub おばあちゃんの味
        .e-main 天日干し梅干し

      p.e-desc 昔ながらの製法で、山形県産の「谷沢梅」を使った本物の味わい

      .e-image
        img(src="/images/umeboshi-kv.jpg" alt="田園風景を背景にした梅干し")


  .l-content-column

    section.u-mb-60
      h2.c-h3.u-color-red 山形県産の「谷沢梅」、赤しそ、そして塩だけ。


      p.u-mb-30.u-tac たっぷり陽にあてた、ふる里の懐かしい「天日干し梅ぼし」

      .c-grid
        .c-grid__cell.is-7.is-sp-12.u-mb-60
          p.
            山形の梅干しのブランド品種である「谷沢梅（やさわうめ）」。種の実離れがよく、深い味わいが絶品と昔から漬物名人に親しまれていた品種を使用。<br><br>

            谷沢梅を塩だけで、しっかり梅酢が出てくるまで漬け込みます。赤しそは塩と梅酢で漬け込みます。<br> <br>

            これを天気の良い日を選んで、太陽の下で、自然乾燥させる、まさしく天日干しの梅干しです。<br>
            昔ながらの作り方で一粒一粒心を込めて作り上げました。雑味が入っていない昔ながらの味わい。おにぎりに最適なキリっとした味です。保存料、着色料、甘味料など全く入っていないので、梅焼酎にも最適です。

        .c-grid__cell.is-5.is-sp-12.u-mb-60
          img(src="/images/umeboshi-zaru.jpg" alt="ざるの上の梅干し")


    section.u-mb-60
      h2.c-h3.u-color-red しょっぱくて、酸っぱい。これぞ本物の味わいです！


      p.u-mb-30.
        また、梅干しに含まれるクエン酸は、疲労回復に効果があります。夏バテには最高に効きます。また抗菌作用があるので、夏のお弁当には欠かせません。そして、梅干しを見るとツバが沸いてきますよね。これは消化を促し、整腸作用があると言われています。<br><br>

        さとみの「天日干し梅干し」は、この「しょっぱくて酸っぱい」昔ながらの梅干しです。白いご飯はもちろん、おにぎり、梅焼酎など雑味がないので最適です。

      figure.c-figure
        +img(src="/images/umeboshi-sara.jpg" alt="皿に盛られた梅干し")
        
      
      a.c-button.is-general.is-pink(href="/product/umeboshi/purchase" target="_blank") 天日干し梅干しを購入する <i class="fas fa-shopping-cart"></i>


    aside.c-aside
      h3.c-h3 最近流行りの塩分10％以下の「減塩梅干し」の実態は・・・？
      p.
        最近では、塩分10％以下の「減塩梅干し」がもてはやされています。しかしながら、その実態は・・・。<br>
        中国などから、運賃が安く日数も長くかかる船便でも輸送出来る様に、30％位の塩分で漬けた梅を輸入し、これを水につけて脱塩し、減塩梅干しを作るそうです。<br>
        この時、梅の栄養やうまみも抜けてしまうので、調味液につけて味をごまかしています。<br>
        いくら減塩といってもそんな梅干しを一日数個食べるのと、やや塩分があっても栄養たっぷりの梅干しを一日一個づつ食べるのとでは、どちらが体に良いかは一目瞭然ですよね！<br> <br>

    h2.c-h2: .e-content さとみの梅干しの作り方


    .c-grid
      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 1. アクをぬく。

        
        img(src="/images/umeboshi-tsukuri-1.jpg" alt="")
        p 山形県産谷沢梅を一晩水に浸し、アクを抜きます。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 2. 塩漬け　
        img(src="/images/umeboshi-tsukuri-2.jpg" alt="")

        p 翌日、塩をかけ下漬けします。塩は下に沈んでいくので、上に多めにかけます。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 3. 桶をかえし漬け込む。

        img(src="/images/umeboshi-tsukuri-3.jpg" alt="")

        p 翌日には梅から汁が出てきます。ここから、毎日桶を返しながら、塩を溶かし、カビが出ないかを確認しながら、耳たぶの柔らかさになるまで漬け込みます。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 4. シソの葉の塩漬け　
        img(src="/images/umeboshi-tsukuri-4.jpg" alt="")
        p シソの葉を枝から手作業でとり除きます。シソの葉だけを塩と梅酢で漬け込みます。梅干しの赤色はこの赤シソ色から来る自然色です。


      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 5. 梅を干します。
        img(src="/images/umeboshi-tsukuri-5.jpg" alt="")

        p 天気のいい日を選んで太陽にあてます。太陽の光を浴びると、緑色の梅がどんどんピンク色に変化します。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 6. 軸取り作業　
        img(src="/images/umeboshi-tsukuri-6.jpg" alt="")

        p 干しあがった梅の軸を一粒一粒、手で取り除きます。根気のいる作業です。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 7. 干し上げ完了　
        img(src="/images/umeboshi-tsukuri-7.jpg" alt="")
        p 手前の梅の様に濃いピンク色になったら干し上げ完了です。「梅干し」のごとくシワシワになります。

      .c-grid__cell.is-4.is-sp-12.u-mb-60
        h3.c-h3 8. 本漬け　
        img(src="/images/umeboshi-tsukuri-8.jpg" alt="")
        
        p 赤梅酢と干しあげた梅を合わせて、桶の中で2月ほど越した10月には完成です！


    .l-content-column.u-mb-90
      a.c-button.is-general.is-pink(href="/product/umeboshi/purchase" target="_blank") 天日干し梅干しを購入する <i class="fas fa-shopping-cart"></i>

      .u-mb-30
      include /include/contact-tel

      +contactTel({message:"「天日干し梅干しを購入したい」旨<br>お伝えください。"})


  .l-content-column
    +dentouBanners(PAGE_NAME)