extend /layout/struct

append head_begin
  - const PAGE_NAME = "sns-facebook";
  - const PAGE_NAME_JA = "Facebook";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA
  meta(http-equiv="refresh", content="0; url=https://www.facebook.com/satominogohan")
