extend /layout/struct

block head_begin
  //- 旧サイトへ飛ばす
  meta(http-equiv="refresh" content="0;URL=/kouza/miso")

block body_content
  .l-content-column
    p 講座


    ul.p-kouza-list
      li.e-item
        a.e-link(href="/kouza/miso/") 味噌
      li.e-item
        a.e-link(href="/kouza/tsukemono/") 味噌