extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。 年間受講者4700人の実績（2019年）。通算3万人超えの人気の講座です。"

block side_content

  article.l-content-column
    header.c-sub-header
      h1.e-title#title
        .e-sub 〝新しい生活様式〟の
        .e-main 味噌作り講座
      p.e-desc 
        | 山形県産大豆・米を使った、
        br.u-sp
        | 甘みたっぷりやさしい味のみそづくり。
        br
        | 年間受講者4700人の実績（2019年）。
        br.u-sp
        | 通算3万人超えの人気の講座です。

      .e-image
        +img(src="/images/miso-kv.jpg" alt="味噌作り講座の様子")

    .p-kouza-section.u-small-full-width
      h2.e-title 
        span.e-content 選べる講座タイプ

      .c-slash-buttons
        .e-type
          a(href="kouza/miso/#tab-shucchou").e-link
            h3.e-title
              .e-sub 一番人気
              .e-main 出張型
            .e-icon
              img.e-img(src="images/icon-shucchou.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-douga").e-link.m-yellow
            h3.e-title
              .e-sub 動画で学ぶ
              .e-main おうちで味噌講座
            .e-icon
              img.e-img(src="images/icon-douga.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-kyoushitsu").e-link.m-yellow
            h3.e-title
              .e-sub プライベート
              .e-main 教室型
            .e-icon
              img.e-img(src="images/icon-kyoushitsu.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-jukusei").e-link
            h3.e-title
              .e-sub おうちで熟成
              .e-main 通販型
            .e-icon
              img.e-img(src="images/icon-jukusei.svg", alt="" width="52" height="40")

      p.p-kouza-buttons-caution ↑各講座タイプをタップすると、 詳細の説明までスクロールします。
      hr.e-border


    aside.c-caution.u-mb-40
      h2.e-title 新しい生活様式への対応について
      p.e-desc.
        昨今の情勢を鑑み、従来より人気の「出張型味噌作り講座」の他に、上記の3つの形態での味噌講座もご用意いたしました。
        お客様の状況に合わせてお選びください。

  section.c-points.u-mb-60
    .l-content-column.e-inner
      .e-border
        h2.e-heading 
          .e-small さとみの味噌づくり講座
          .e-big 4つのポイント

        .e-points
          .e-point
            h3.e-title 1.山形県産大豆を使用で安心安全
            .e-image
              +img(src="./images/miso-point-1.jpg" alt="")
            p.e-desc.
              大豆、米ともに山形県産大豆を使用しており、安心安全です。
              なんと、国産大豆使用のみそは日本に出回る味噌の1割程度と言われています。


          .e-point
            h3.e-title 2.こうじたっぷり味噌
            .e-image
              +img(src="./images/miso-point-2.jpg" alt="")
            p.e-desc 米どころ山形の特徴を生かし、こうじを豆より多くたっぷり使い、甘くて塩気のやさしい味噌を作ります。こうじの量を22割、18割、15割から選べます。数字が多いほどこうじの量が多くなり、より甘く減塩の味噌になります。

          .e-point
            h3.e-title 3.各家庭で自然発酵〜夏を越して完成〜
            .e-image
              +img(src="./images/miso-point-3.jpg" alt="")
            p.e-desc お客様が各家庭に持ち帰りいただき、台所や玄関先などに保存し夏の温度上昇とともに7月末〜9月には自然発酵によりお味噌が完成します。

          .e-point
            h3.e-title 4.約4か月から一年分の十分な量
            .e-image
              +img(src="./images/miso-point-4.jpg" alt="")
            p.e-desc 講座で作る味噌は約4～8キロ。一般家庭で消費する味噌の約4か月から一年分になります。

                
  section.c-customer-voice
    .l-content-column.e-inner
      h2.c-h2 
        span.e-content お客様からの声
      div.e-voices
        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content.
            4月に出張型の講座に参加しました。<br>
            8月に桶を開け、 <strong> 香りよし味よしで感激！</strong>
            

        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content.
            出張型に毎年参加しております。<br>
            <strong>孫が私の作った味噌しか食べません。</strong> 小さな子供に気に入ってもらえる優しい甘い味噌です。
            
        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content.
            出来上がり時期にお手紙を頂き、ありがとうございました！<br>
            <strong>動画の説明をみながらかぶれなど取り除くことができたので分かりやすかったです！</strong>味見をしたらちゃんと美味しいお味噌が出来上がっていました！自分たちでこんなに美味しいお味噌が作れて本当に感動しました。

      hr.c-section-end.u-mt-30


  .c-h2.u-mt-90.u-mb-40
    span.e-content 各講座について

  .c-url-tab.l-content-column
    .e-tabs
      a.e-tab#tab-shucchou.is-active(href="/kouza/miso/#tab-shucchou") 出張型 
      a.e-tab#tab-douga(href="/kouza/miso/#tab-douga") 動画型
      a.e-tab#tab-kyoushitsu(href="/kouza/miso/#tab-kyoushitsu") 教室型
      a.e-tab#tab-jukusei(href="/kouza/miso/#tab-jukusei") 通販型

    .e-panel#panel-shucchou.is-shown
      h2.c-icon-heading
        .e-icon
          img.e-img(src="images/icon-shucchou.svg", alt="" width="52" height="40")
        .e-title
          .e-sub 一番人気
          .e-main 出張型 味噌講座


      .c-grid.is-reverse
        .c-grid__cell.is-4.is-sp-12
          +img.p-miso-type-kv(src="./images/miso-shucchou-image.jpg" alt="")

          

        .c-grid__cell.is-8.is-sp-12
          p.
            みんなで一緒に楽しく味噌作り体験ができます。主催者様に体育館、公民館などの会場を確保いただき、12名から100名までの参加者様向けに1時間ほどの講座を開講いたします。
            煮上がった大豆、味噌専用のこうじ菌で作った出来立ての米こうじ、塩の材料、また桶などの道具もはすべて私どもが用意いたします。簡単に本物の味わいのみそを作ることが出来ます。

      .p-miso-godown
        a.e-link 詳しい情報は下へ
        .e-arrow
          +img(src="./images/icon-godown.svg" alt="" no2x)


      hr.c-hr.is-red.u-mb-20

      aside.p-miso-caution.u-mb-40
        h2.e-title 新しい生活様式への対応
        p.e-desc.
          ①37.5度以上の発熱、のどの痛みの症状のある方には受講を控えて頂く。<br>
          ②講師・受講者ともにマスク着用。<br>
          ③ソーシャルディスタンスをとる。<br>
          ④会場内の換気につとめる。

      p.u-tac
        a.c-button.is-general(href="/kouza/miso/#tel-shucchou") お申し込み <i class="fas fa-phone"></i>

      hr.c-hr.is-red.u-mt-40.u-mb-30

      .u-tac.u-mb-30
        +img(src="./images/icon-godown.svg" alt="" no2x)

      .c-grid
        .c-grid__cell.is-6.is-sp-12
          h3.c-h3 ・開催日
          p.p-miso-info-content.
                平日土日祝日可。<br>
                真夏以外、通年開催。
                （ご希望の日時をお教えください。）
          h3.c-h3 ・所用時間
          p.p-miso-info-content.
            1時間〜1時間半<br>
          p.p-miso-info-content.u-ml-30.
            例： 9:00 - 10:30 <br>
            　　13:30 - 15:00 <br>
            　　18:30 - 20:00 など

          h3.c-h3 ・場所
          p.p-miso-info-content.
                会議室、和室、体育館など。
                (どのような場所でも可能です。）

          h3.c-h3 ・参加費
          p.p-miso-info-content.
                2600円(税込み)～<br>
                桶付きで約3.6キロ～7キロまで仕込めます。<br>
                こうじの量は22割, 18割, 15割。<br>
                ご希望のキロ数・こうじの量をお選びください。<br>
                <strong>親子学習会などの食育価格がございます。</strong><br>
                (山形県村山地域以外は別途交通費を頂きます。)
          h3.c-h3 ・定員
          p.p-miso-info-content.
                12名から100名程度。
                (ご相談たまわります。)
          h3.c-h3 ・対象地域、対象者
          .p-miso-info-content
            ul.c-ul
              li 山形県全域・宮城県仙台市周辺・福島県郡山市周辺など、山形市より車で日帰りでき材料をお届けできる地域
              li 味噌づくりに興味のある方なら、どんなグループでもOKです。
              li (例)保育園、幼稚園、小学校、中学校などの親子行事や食育の授業
              li (例)婦人会活動、地区活動、公民館活動、職場のグループ

            

        .c-grid__cell.is-6.is-sp-12

          h3.c-h3 ・持ち物（受講される方）
          .p-miso-info-content
            ul.c-ul
              li エプロン　
              li 三角布　
              li タオル(手をふくため)　
              li 靴下(はだしは好ましくないため)　
              li 筆記用具　
              li レジャーシート　
              li スーパー袋(ゴミの持ち帰り用)　
              li 水筒(通常飲料している水を満タンにしてお持ちください)
          h3.c-h3 ・準備するもの（主催される方）
          .p-miso-info-content
            ul.c-ul
              li ブルーシート(レジャーシートをご用意の場合は、不要)
              li ごみ袋(各自が持ち帰る場合は、不要)

          h3.c-h3 ・皆様に当日お渡しするもの
          .p-miso-info-content
            ul.c-ul
              li 仕込み用の桶と蓋　
              li 材料(米こうじ・塩・煮た大豆)
              li 種水用のペットボトル　
              li ディスポ手袋　
              li ポリシート
              li 味噌シール　

          h3.c-h3 ・講座の流れ
          .p-miso-info-content
            ol.c-ol
              li お味噌の基礎知識や講座の手順の説明をします。
              li 米こうじと塩を混ぜ合わせます。
              li 煮上がった豆を手や足を使ってつぶします。体をいっぱい使って頑張りましょう。
              li 桶を使って米こうじ・塩・大豆を混合します。
              li 桶に詰め、仕込み完成。


      //-
        p.u-tac.u-mb-30
          a.c-button(href="tel:023-643-2513") お申し込み
      h2.c-h2: .e-content お申し込み 

      section.c-contact-tel#tel-shucchou
        p.e-please こちらへお電話ください！
        a.e-number(href="tel:023-643-2513")
          img.e-icon(src="./images/icon-tel.svg", alt="")
          | 023-643-2513
        p.e-desc.
          「出張型味噌講座を開いてほしい」旨<br>
          ご連絡ください。

      hr.c-hr.is-red.u-mt-40.u-mb-30


    .e-panel#panel-douga
      h2.c-icon-heading
        .e-icon
          img.e-img(src="images/icon-douga.svg", alt="" width="52" height="40")
        .e-title
          .e-sub 動画で学ぶ
          .e-main おうちで味噌講座

      .c-grid.is-reverse
        .c-grid__cell.is-4.is-sp-12
          img.p-miso-type-kv(src="./images/miso-douga-image.png" alt="")

        .c-grid__cell.is-8.is-sp-12
          p.
            味噌づくりを各自、ご自宅で行って頂ける講座です。YouTubeでレクチャー動画をご視聴いただきながら作っていただくため、各自のペースで味噌作りをしていただけます。
            学校や公民館主催の場合に人気の講座です。
            材料や道具は、会場や当社に取りに来て頂きます。できる限り接触を避けるため、ドライブスルーでのお渡しも可能です。

      .c-grid.u-mb-60.u-mt-30
        .c-grid__cell.is-6.is-sp-12.u-sp-mb-30
          p
            a.c-button.is-general(href="/kouza/miso/#tel-douga") お申し込みへ  <i class="fas fa-phone"></i>


        .c-grid__cell.is-6.is-sp-12
          p
            a.c-button.is-general.is-orange(href="/kouza/miso/#lecture-videos") YouTube動画へ <i class="fab fa-youtube"></i> 



      
      .c-grid
        .c-grid__cell.is-6.is-sp-12

          h3.c-h3 開催日
          p.p-miso-info-content 平日土日祝日可。真夏以外、通年開催。


          h3.c-h3 受講までの流れ
          p.p-miso-info-content.
            材料受け渡し 5分
            味噌作り 1時間以内
          h3.c-h3 場所
          p.p-miso-info-content.
            ご自宅

          h3.c-h3 参加費(材料費)
          p.p-miso-info-content.
                2600円(税込み)～<br>
                桶付きで約3.6キロ～7キロまで仕込めます。<br>
                こうじの量は22割, 18割, 15割。<br>
                ご希望のキロ数・こうじの量をお選びください。<br>
                <strong>親子学習会などの食育価格がございます。</strong><br>

        .c-grid__cell.is-6.is-sp-12
          h3.c-h3 定員（1日に供給できる材料数）
          p.p-miso-info-content.
            1名から100名。

          h3.c-h3 ・対象地域、対象者
          .p-miso-info-content
            ul.c-ul
              li 山形県全域・宮城県仙台市周辺・福島県郡山市周辺など、山形市より車で日帰りでき材料をお届けできる地域
              li 味噌づくりに興味のある方なら、どんなグループでもOKです。
              li (例)保育園、幼稚園、小学校、中学校などの親子行事や食育の授業
              li (例)婦人会活動、地区活動、公民館活動、職場のグループ

          h3.c-h3 お渡しする物品
          p.p-miso-info-content.
            ・仕込み用の桶と蓋　
            ・材料(米こうじ・塩・煮た大豆)
            ・種水用のペットボトル　
            ・ディスポ手袋　
            ・ポリシート
            ・味噌シール　



      section 
        hr.c-hr.is-red.u-mb-20

        //-
          p.u-tac.u-mb-30
            a.c-button(href="tel:023-643-2513") お申し込み
        h2.c-h2: .e-content お申し込み

        section.c-contact-tel#tel-douga
          p.e-please こちらへお電話ください！
          a.e-number(href="tel:023-643-2513")
            img.e-icon(src="./images/icon-tel.svg", alt="")
            | 023-643-2513
          p.e-desc.
            「動画型味噌講座を開いてほしい」旨<br>
            ご連絡ください。

        hr.c-hr.is-red.u-mt-40.u-mb-30

        
      h2.c-h2.u-mt-60#lecture-videos
        span.e-content  レクチャー動画


      h4.c-h3  STEP-1 米こうじの中に塩を加える。
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ij9yTFOHOFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      h4.c-h3.u-mt-50  STEP-2 お豆をつぶす。
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pp_B3IL7ruA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      h4.c-h3.u-mt-50 STEP-3 こうじとお豆をまぜる。
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JusIdArZQzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      h4.c-h3.u-mt-50 STEP- 4桶につめる。
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rUDRYySexqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
    .e-panel#panel-kyoushitsu


      h2.c-icon-heading
        .e-icon
          img.e-img(src="images/icon-kyoushitsu.svg", alt="" width="52" height="40")
        .e-title
          .e-sub プライベート
          .e-main 教室型


      .c-grid.is-reverse.u-mb-30
        .c-grid__cell.is-4.is-sp-12
          +img.p-miso-type-kv(src="./images/img-kyoushitsu.jpg" alt="")

        .c-grid__cell.is-8.is-sp-12
          p.
            事前にご予約いただいた上で、当組合までお越しいただき、併設の教室で少人数で行います。
            ご家族、仲良しグルーブなどでわきあいあいと楽しく味噌が作れます。
            お客様のご希望の日時をお教え下さいませ。



      aside.p-miso-caution.u-mb-40
        h2.e-title 新しい生活様式への対応
        p.e-desc.
          ①37.5度以上の発熱、のどの痛みの症状のある方には受講を控えて頂く。<br>
          ②講師・受講者ともにマスク着用。<br>
          ③ソーシャルディスタンスをとる。<br>
          ④会場内の換気につとめる。


      section 
        hr.c-hr.is-red.u-mb-20

        p.u-tac.u-mb-30
          a.c-button.is-general(href="/kouza/miso/#tel-kyoushitsu") お申し込み <i class="fas fa-phone"></i>

        hr.c-hr.is-red.u-mt-30.u-mb-30


      .c-grid
        .c-grid__cell.is-6.is-sp-12
          h3.c-h3 営業日
          p.p-miso-info-content.
            ご希望の日にち（平日土日祝日可）をお教え下さい。
            午前の部(10:00～11:00) と 午後の部(14:00～15:00)があります。

            
          h3.c-h3 時間　所要時間1時間
          p.p-miso-info-content.
            午前の部　10：00～11：00　
            午後の部　14：00～15：00
            
          h3.c-h3 受講料
          .p-miso-info-content
            p.
              22割・18割・15割こうじ味噌作り（桶・重石付き）<br>
              数字が多くなるほど、こうじが多くなり、より減塩で甘口のみそになります。<br>
              どのタイプも同じ価格になりますので、ご希望のものをお選び下さいませ。<br>

            ul.c-ul.u-mt-20.u-mb-20
              li
                |A　お得タイプ（通常サイズの桶）<br>
                strong 5,500円（税込）　
                |約7キロ<br>
              li
                |B　少量タイプ（小さいサイズの桶）<br>
                strong 3,300円（税込） 
                |約3.6キロ<br>

            p.
              お作りになった味噌入りの桶は段ボールにお入れいたします。<br>
              お持ち帰りも出来ますが、ご自宅までの配送も承ります。（特別価格送料550円（東北・信越・関東　その他の地域はお問い合わせ下さい。）
            
          h3.c-h3 開催人数
          .p-miso-info-content
            ul.c-ul.u-mb-10
              li.
                A　お得タイプ（通常サイズの桶）<br>２桶分（<strong>2名から</strong>最大12名）<br>
              li.
                B　少量タイプ（小さいサイズの桶）<br>３桶分（<strong>3名から</strong>最大12名）<br>
            
            p 小さいお子さんと共に親子で1桶、ご夫婦で1桶でも可。

          h3.c-h3 申し込み締め切り
          p.p-miso-info-content.
            開催希望日の1週間前まで。<br>
            例<br>
            木曜開催　　前週の木曜<br>
            土曜開催　　前週の土曜<br><br>
            
            講座の2日前までキャンセル料20％。前日は50％　当日100％
            
        .c-grid__cell.is-6.is-sp-12

            
          h3.c-h3 持ち物
          .p-miso-info-content
            ul.c-ul
              li エプロン
              li 三角布
              li タオル(手をふくため)
              li 靴下(はだしは好ましくないため)
              li 筆記用具
              li レジャーシート

          h3.c-h3 アクセスについて
          p.p-miso-info-content.
            当組合は、山形市西部の大曽根にございます。山形駅より車で15分ほどですが、古き良き山形の残る田園地帯です。
            美味しい楽しい情報は、まだまだあります。ぜひ、観光も兼ねてお越しくださいませ。

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2140.308167854989!2d140.25735916405816!3d38.26533709297776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8bb7a13fccf3af%3A0x5e0deff2e0b0deec!2z44Ok44Oe44OL6Yak5rK56Ya46YCg77yI5qCq77yJ44GV44Go44G_44Gu5rys54mp6Kyb5bqn77yI5LyB77yJ!5e0!3m2!1sja!2sjp!4v1599450280068!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          p.u-tac
            a.c-button.is-orange(href="https://goo.gl/maps/bQcrHPmVz7EddqZK8" target="_blank") Google Map で開く <i class="fas fa-map-marked-alt"></i>

      section.u-mt-60
        //-
          p.u-tac.u-mb-30
            a.c-button(href="tel:023-643-2513") お申し込み
        h2.c-h2: .e-content お申し込み 

        section.c-contact-tel#tel-kyoushitsu
          p.e-please こちらへお電話ください！
          a.e-number(href="tel:023-643-2513")
            img.e-icon(src="./images/icon-tel.svg", alt="")
            | 023-643-2513
          p.e-desc.
            「プライベート味噌講座を開いてほしい」旨<br>
            ご連絡ください。

        hr.c-hr.is-red.u-mt-40.u-mb-30


    .e-panel#panel-jukusei

      h2.c-icon-heading
        .e-icon
          img.e-img(src="images/icon-jukusei.svg", alt="" width="52" height="40")
        .e-title
          .e-sub おうちで熟成
          .e-main 通販型


      .c-grid.is-reverse.u-mb-30
        .c-grid__cell.is-4.is-sp-12
          +img.p-miso-type-kv(src="./images/img-tsuhan.jpg" alt="")

        .c-grid__cell.is-8.is-sp-12
          p.
            まもなく創業100年を迎える当社があらかじめ仕込んだ仕込み味噌（半製品味噌）をお届けします。材料は国産（山形県産）の大豆・米を使用。甘みたっぷりのやさしい味のみそをご自宅で熟成して頂けます。


        
      .c-grid.u-mb-30

        .c-grid__cell.is-6.is-sp-12.u-sp-mb-60
          h3.c-h3 簡単セット(手間いらず)

          p.
            桶に国産（山形県産）大豆・米で作った仕込み味噌と重石（ビニール袋入りの塩が重石になりますので、味噌を食べきった後は塩として召し上がれます）も入っております。小屋や台所の片隅に置いておくと、秋には熟成味噌の出来上がり。梱包の段ボールのまま置いておくと日よけ対策完了で、尚色のよい味のいいお味噌が出来ます。<br><br>
            
            手間いらずで、我が家で熟成のオリジナル味噌が出来上がります。贈り物にもどうぞ！<br><br>

            ¥2,860 〜 6,260(税込)
          
          p.u-tac.u-mt-20
            a.c-button.is-pink.is-general(href="https://tsukemono.info/SHOP/994346/1014113/list.html" target="_blank") 簡単セット購入ページへ <i class="fas fa-shopping-cart"></i>  

        .c-grid__cell.is-6.is-sp-12.u-sp-mb-60
          h3.c-h3 半製品みそ(お得です)
        
          p.
            すでに桶をお持ちの方には、煮た豆、米こうじ、塩をお均等に混ぜ合わせた半製品味噌（仕込み味噌ともいいます。）をビニール袋に詰めて、段ボールに入れてお送りします。お手元に届きましたら、ご自分で桶に入れて頂く分お得です。詰め終わったら、表面を平らにして、ポリシート（ラップでも可）で表面を覆いかくし、必ず約2キロほどの重石をしてください。日の当たらない常温に置いておくと、夏の温度上昇で発酵し秋にはおいしい味噌の完成です！<br><br>

            ひと手間かける分、経済的です。我が家で熟成のオリジナル味噌の熟成を楽しめます。<br><br>

            ¥3,850〜 ¥5,600(税込)

        
          p.u-tac.u-mt-20
            a.c-button.is-pink.is-general(href="https://tsukemono.info/SHOP/994346/1014112/list.html" target="_blank") 半製品味噌購入ページへ <i class="fas fa-shopping-cart"></i>  
        

      section 

        section.c-contact-tel#tel-douga
          p.e-please もしくはお電話ください！
          a.e-number(href="tel:023-643-2513")
            img.e-icon(src="./images/icon-tel.svg", alt="")
            | 023-643-2513
          p.e-desc.
            「半製品味噌を注文したい」旨<br>
            ご連絡ください。

        hr.c-hr.is-red.u-mt-40.u-mb-30




  .l-content-column.u-mt-60
    .p-kouza-section.u-small-full-width
      h2.e-title 
        span.e-content 選べる講座タイプ

      p.u-tac.u-mb-20 お客様のご事情に合わせて、お選びくださいね。

      .c-slash-buttons
        .e-type
          a(href="kouza/miso/#tab-shucchou").e-link
            h3.e-title
              .e-sub 一番人気
              .e-main 出張型
            .e-icon
              img.e-img(src="images/icon-shucchou.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-douga").e-link.m-yellow
            h3.e-title
              .e-sub 動画で学ぶ
              .e-main おうちで味噌講座
            .e-icon
              img.e-img(src="images/icon-douga.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-kyoushitsu").e-link.m-yellow
            h3.e-title
              .e-sub プライベート
              .e-main 教室型
            .e-icon
              img.e-img(src="images/icon-kyoushitsu.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-jukusei").e-link
            h3.e-title
              .e-sub おうちで熟成
              .e-main 通販型
            .e-icon
              img.e-img(src="images/icon-jukusei.svg", alt="" width="52" height="40")

      p.p-kouza-buttons-caution ↑各講座タイプをタップすると、 詳細の説明までスクロールします。
      hr.e-border