extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "kouza-tsukemono";
  - const PAGE_NAME_JA = "漬け物・田舎ごはん作り講座";
  - const PAGE_DESCRIPTION = "初心者でもわかりやすい！上級者にも楽しい！お義母さんから受け継いだ、さとみのルーツ。"

block side_content
  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 〝新しい生活様式〟の
        .e-main 漬け物・田舎ごはん作り講座

      p.e-desc 初心者でもわかりやすい！上級者にも楽しい！お義母さんから受け継いだ、さとみのルーツ。

      .e-image
        +img(src="/images/tsukemono-kv.jpg", alt="")



  .l-content-column
    ul.c-ul.u-mb-60
      li: a.c-link(href="/kouza/tsukemono/#tsukemono") 漬け物作り講座
      li: a.c-link(href="/kouza/tsukemono/#inaka-gohan") 田舎ごはん作り講座

  section
    h2.c-h2#tsukemono: .e-content 漬物講座
    .l-content-column
      p.u-tac.u-mb-30.u-color-red.
        初心者でもわかりやすい！上級者にも楽しい！<br>


      .u-clearfix
        .u-flr
          img(src="/images/tsukemono-sozai.jpg", alt="")
        p.u-mb-60.
          旬の野菜を使った、簡単おいしい漬物作り！懐かしいふるさとの味～家庭の味のお漬物です。<br>
          昔からある伝統の漬物から、ビニール袋で手早く出来る野菜のうまみが活きる漬け物までを伝授。


        h3.c-h3 講座の流れ
        p （講座の時間　約２時間２アイテム作ります）

        ol.c-ol
          li 今日のお漬物の作り方、旬の野菜の説明をします。
          li 講師が実演し、作業の確認をして頂きます。
          li 漬物作り開始。作ったお漬物はお持ち帰り出来ます。
          li 後片付けの後、旬のお漬物の試食会。漬物談義で楽しいですよ。

      .u-mb-60


      a.c-button.is-general(href="/kouza/tsukemono/#contact") 漬け物作り講座に申し込む


      .u-mb-60

    .c-customer-voice.u-mb-100
      .l-content-column.e-inner
        h2.c-h2 
          span.e-content お客様からの声
        div.e-voices
          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content 初めてお漬物を漬けました。<strong>ビニール袋で簡単に漬けられ、でも味は天下一品！</strong>夫にも大喜びされました。
              

          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content この年になって、<strong>お漬物を作ったことがない</strong>なんで、恥ずかしくて言えませんでした。でも、この講座に参加して私も漬物名人目指して頑張ります。
              
          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content 母の味がなつかして参加しました。<strong>出来上がりは、あの味にそっくり！</strong>やはり家庭漬けの大切さを感じました。

          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content 私でも大丈夫なの？ととても不安でしたが、<strong>若い人から男性まで</strong>皆さんと楽しく参加させて頂きました。

        hr.c-section-end.u-mt-30


  section

    h2.c-h2#inaka-gohan: .e-content 田舎ごはん（郷土料理）<br class="u-sp">作り講座
    .l-content-column


      p.u-tac.u-mb-30.u-color-red.
        伝統の味を作りましょう。昔から伝わる知恵も学べます。

      .u-clearfix
        
        .u-sp-tac
          +img.u-flr(src="/images/img-inaka-gohan.jpg", alt="")

        p.u-mb-60.
          子供の頃から食べていた山形の郷土料理「いも煮」「だし」「くじら汁」「山形の雑煮」。でも、実際に作った事がないものも、もちろんあると思います。また、知っている様で知らないことをこの機会に一緒に学びましょう。最後に、作った料理を皆で情報交換しながらいただきます。
          
          

      h3.c-h3 講座の流れ
      p 講座の時間は約２時間。旬の食材を使って、季節の食事を作ります。
      
      ol.c-ol.u-mb-60
        li 今日の料理の作り方、言われなどの説明をします。
        li わかりづらい料理は、講師が実演します。
        li グループごとに和気あいあいと季節の料理を数品作ります。
        li アツアツを皆さんでお腹いっぱい召し上がます。


      .u-mb-60
        a.c-button.is-general(href="/kouza/tsukemono/#contact") 田舎ごはん講座に申し込む

    .c-customer-voice.u-mb-100
      .l-content-column.e-inner
        h2.c-h2 
          span.e-content お客様からの声
        div.e-voices
          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content いつも作っているやり方が正しいのか、疑問でいっぱいでした。<strong>今日は王道の作り方</strong>を聞き、コツも覚えました。
              

          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content 「山形のだし」はいつも買ってばかりでした。でも<strong>自分で作るとこんなにもおいしい</strong>とは！これを機会に手作りにします。
              
          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content 昔、食べたあの味。再現したくて参加しました。まさに<strong>何十年ぶりの味</strong>。懐かしさとともに、大切にしていかなければと思いました。

          .e-voice
            .e-icon
              +img(src="./images/icon-person.svg" alt="" no2x)
            blockquote.e-content だれにも聞けないコツを知り、<strong>レベルアップ出来ました。</strong>今後役立てます。

        hr.c-section-end.u-mt-30

    .l-content-column
      p.u-mb-30.
        婦人会、子ども育成会、親子学習会、公民館事業などでもお受け致しております。材料はすべて、ご用意致しますので、ご安心下さい。調理道具も貸し出し可能です。

  section.l-content-column
    h2#contact.c-h2: .e-content お申し込み

    include /include/contact-tel
    +contactTel({message:"「漬物作り講座<small>または</small>田舎ごはん作り講座を開催して欲しい」旨<br>お伝えください。"})
