* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

/* safari css hack */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1px) {
    html {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

body {
    background: #fff;
    color: $color-font;
    font-style: normal;
    font-weight: 300;
    height: 100%;
    letter-spacing: .05em;
    line-height: 1.8;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-wrap: break-word;
    padding: 0px;
    position: relative;
    width: 100%;

    @include tab {
        font-size: 1.6rem;
        min-width: 320px;
        overflow-x: hidden;
    }
    @include small {
        font-size: 1.5rem;
        min-width: 320px;
        overflow-x: hidden;
    }
}
img {
    border:0;
    height: auto;
    width: auto;
    max-width: 100%;
}
iframe{
    max-width: 100%;
}

input {
    border-radius: 0;
}

a {
    color: inherit;
    text-decoration:none;

    &:hover{
        opacity: .8;

    }
}

a[href^="tel:"]{
    pointer-events: none;
    
    @include sp {
        pointer-events: auto;
    }
}

button,
input[type="submit"],
a {
    transition: all 0.2s ease-in-out;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
button,
input[type="button"] {
  border-radius: 0;
  appearance: none;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}

strong{
  font-weight: bold;

}

table{
}
td,th{
    text-align: left;
    vertical-align: top;

}