
//https://yuyakinoshita.com/blog/2020/01/20/line-height-crop/
@mixin lineHeightCrop($line-height:(26/16)) {
    &::before {
        display: block;
        width: 0;
        height: 0;
        margin-top: calc((1 - #{$line-height}) * .5em);
        content: "";
    }
    &::after {
        display: block;
        width: 0;
        height: 0;
        margin-bottom: calc((1 - #{$line-height}) * .5em);
        content: "";
    }
}

@mixin bg-slash($color){
    background-repeat: repeat;
    background-position: 15px 15px;
    background-image: linear-gradient(-45deg,
        #fff 25%, 
        lighten($color,20%) 25%, lighten($color,20%) 30%, 
        #fff 30%, #fff 75%,
        lighten($color,20%) 75%, lighten($color,20%) 80%, 
        #fff 80%
    );
    background-size: 10px 10px;
}