@mixin medium {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

    @mixin medium-up {
        @media screen and (min-width: 1201px) {
            @content;
        }
    }


@mixin tab {
    @media screen and (max-width: 950px) {
        @content;
    }
}
    @mixin tab-up {
        @media screen and (min-width: 951px) {
            @content;
        }
    }

@mixin sp {
    @media screen and (max-width: 760px) {
        @content;
    }
}
    @mixin sp-up{
        @media screen and (min-width: 761px) {
            @content;
        }
    }

@mixin small {
    @media screen and (max-width: 365px) {
        @content;
    }
}
