
@mixin font-normal {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: inherit;
}

@mixin font-bold{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}


@mixin font-midashi{
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {

  @include font-normal;
  font-size: 1.6rem;
  line-height: (26/16);

}

/* IEはMeiryoで表示。文字が上に寄ってしまうバグがあるから　*/
_:-ms-fullscreen,
:root body {
font-family: Meiryo, sans-serif;
}