$color-red:#cf3d32;
$color-bright-red: #DF1C24;
$color-yellow:#fefd52;

$color-main: #5DC07C; //赤
$color-sub: #000B00; //黒
$color-font: #000;

$contents-width: 950px;
$narrow-width: 800px;
$contents-padding: 20px;