extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/")

block side_content

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 
        .e-main 商品一覧
      //
        p.e-desc 山形県産大豆・米を使った
          br
          | 甘みたっぷりやさしい味のみそづくり

      .e-image
        //+img(src="./images/miso-kv.jpg" alt="味噌作り講座の様子")


    .c-url-tab
      .e-tabs
        a.e-tab#tab-shoyu.is-active(href="/kouza/miso/#tab-shoyu") 醤油<br>たれ
        a.e-tab#tab-miso(href="/kouza/miso/#tab-miso") 味噌
        a.e-tab#tab-dentou(href="/kouza/miso/#tab-dentou") 伝統<br>手作り
        a.e-tab#tab-book(href="/kouza/miso/#tab-book") 執筆本

      .e-panel#panel-shoyu.is-shown

        h2.c-h2: .e-content 醤油・たれ

        .c-grid
          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 魔法のしょうゆ


          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 魔法のたれ

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 おひたし玉子醤油

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 酢だまり

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 いも煮のたれ

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 もちだまり


          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 さくら1.8L

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 本味1L

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 酢1.8L


      .e-panel#panel-miso
        h2.c-h2: .e-content 味噌

        .c-grid
          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/miso/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 22割こうじ超特撰味噌

          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/miso/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 18割こうじ贅沢味噌

          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/miso/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 15割こうじ味噌

      .e-panel#panel-dentou
        h2.c-h2: .e-content 手作り伝統の味

        .c-grid
          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/miso/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 糀たっぷり<br>天然醸造味噌
            
          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/umeboshi/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 天日干し梅干し

          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/seisai/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 雪あたり青菜漬

          a.c-grid__cell.is-4.is-sp-6.u-mb-30(href="/dentou/mochi/")
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 杵と臼でついた餅



      .e-panel#panel-book
        h2.c-h2: .e-content さとみの執筆本

        .c-grid
          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 さとみの本

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 ビニール袋本

          .c-grid__cell.is-4.is-sp-6.u-mb-30
            p
              img(src="https://placehold.jp/300x300.jpg", alt="")
            h3.c-h3 田舎ごはん