extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "mahou-tare";
  - const PAGE_NAME_JA = "手作り漬物を美味しく！「魔法のたれ」";
  - const PAGE_DESCRIPTION = "「魔法のたれ」とは、あなたの自家製の漬物をなお一層おいしくするために使う漬物たれです。"

block side_content

  include /include/mahou-nav
  +mahouNav("mahou-tare")


  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 手作り漬物を美味しく！
        .e-main  魔法のたれ

      p.e-desc 「魔法のたれ」とは、あなたの自家製の漬物をなお一層おいしくするために使う漬物たれです。

      .e-image
        +img(src="/images/kv-tare.jpg", alt="")

  .c-points.u-mb-60
    .l-content-column.e-inner
      .e-border
        h2.e-heading 
          .e-small 美味しい×簡単
          .e-big 魔法のたれの特徴
    
        .e-points
          .e-point
            h3.e-title 1.経験者も、初めての方も
            .e-image
              +img(src="/images/tare-ryori.jpg", alt="")
            p.e-desc.
              今までの自家製漬物にも少量使うだけでぐんとおいしさが増します。また、初めて漬物を漬ける方でも、さとみによるレシピが豊富なためご家族に絶賛されること間違いありません。


            p.e-desc.u-tar: a(class="c-link" href="/product/mahou-tare/#kotsu") 漬物作りのコツはこちら！


          .e-point
            h3.e-title 2.漬物研究家による絶妙な配合
            p.e-desc.
              魔法のたれは、醤油と同じ塩分の「白だし醤油」をベースに、絶妙な「みりん」が入っているため、現代風のほんのり甘めで味のいい漬物を色良く簡単に作ることが出来ます。さらに、隠し味の「お酢」がほんの少しだけ入っていることで、漬物の味が尚一層やわらかくなるんです。 
              漬物研究家としてPHP発売大ベストセラー4万部の<a class="c-link" href="/books/vynil-tsukemono/">「ビニール袋手早くできる！野菜のうまみが活きる漬物」本</a>も出版している新関さとみによる研究成果をお試しあれ！

            p.e-desc.u-tar: a(class="c-link" href="/product/mahou-tare/#recipe") すぐに試せるレシピがあります！



  .l-content-column.u-mb-60
    a.c-button.is-general.is-pink(href="/product/mahou-tare/purchase" target="_blank") 魔法のたれを購入する <i class="fas fa-shopping-cart"></i>


  .p-mahou-column
    .e-inner.l-content-column

      h2.c-icon-heading.is-align-bottom#kotsu
        .e-icon.is-bottle
          img(src="/images/bottle-mahou-tare.png", alt="" style="width: 40px")
        .e-title
          .e-sub 魔法のたれを使った
          .e-main 漬物作りのコツ

      h3.c-h3 基本は、「塩と共に」

      .c-grid
        .c-grid__cell.is-7.is-sp-12.u-mb-20
          p.
            「塩と共に使う」が美味しさの秘訣！塩と魔法のたれを、ほんのり甘い、幸せ味に。
            漬物の基本は、塩です。最初に、塩を使うことによって、野菜のうまみをぎゅっと閉じこめることが出来ます。もちろん、保存も良くなり、野菜の色も鮮やかに漬け上がります。
            塩の後に「魔法のたれ」を入れると味が浸透しやすくなります。
            魔法のたれは、塩とともに使うことで、保存も良くなり、味もキリッとして口あきしないのが特徴です。また、他の調味料の量も少量で済むので、経済的ですよ。

        .c-grid__cell.is-5.is-sp-12.u-tac
          figure.c-figure
            +img(src="/images/tare-radish.jpg", alt="")
            figcaption.e-figcaption 
              a.c-link(href="https://recipe.niizekisatomi.com/recipes/197" target="_blank") ラディッシュの三五八漬け


      p.u-tac.u-mt-60.u-mb-60
        |でも、慣れない調味料で味の調整が難しそう…
        br
        |本当においしくなるの？
        br
        img(src="/images/icon-godown.svg", alt="")

      h3.c-h3#recipe まずはレシピで、慣れたらアレンジ♪


      .c-grid.is-reverse
        .c-grid__cell.is-7.is-sp-12.u-mb-20
          p.
            不安な方のために<a class="c-link" href="https://recipe.niizekisatomi.com/recipes?recipe_condiment=tare" target="_blank">豊富なレシピ</a>をご用意しています。
            魔法のたれをきちんと適量お使い頂けるために、きちんとしたさとみの「漬物レシピ」を開発。ぜひ、ご参考にしてください。まずは、レシピ通りに作ってみましょう。慣れたら、どんな漬物にも、塩と共に少量お使い下されば、本当においしく漬かります！

        .c-grid__cell.is-5.is-sp-12.u-mb-20.u-tac

          figure.c-figure
            +img(src="/images/tare-okura.jpg", alt="")
            figcaption.e-figcaption 
              a.c-link(href="https://recipe.niizekisatomi.com/recipes/67" target="_blank") オクラの漬物



  .l-content-column.u-pt-60.u-pb-60
    a.c-button.is-general.is-pink(href="/product/mahou-tare/purchase" target="_blank") 魔法のたれを購入する <i class="fas fa-shopping-cart"></i>

    p.u-mt-30.u-mb-30 「新関さとみの田舎ごはんレシピ」では、さとみ自身が考案した魔法のたれを使ったレシピを公開しています。

    a.c-button.is-general.is-yellow.u-mb-30(href="https://recipe.niizekisatomi.com/recipes?recipe_condiment=tare" target="_blank") 魔法のたれを使ったレシピ

    aside.c-aside
      p.
        注釈：<br>PHP研究所から発売された「ビニール袋で手早くできる！野菜のうまみが活きる漬け物」でお勧めの「基本の漬けだれ」として紹介されているものでも、魔法のたれの代わりに代用可能です。（P120に白醤油、みりん、酢の配合の分量が記載）を私が配合したものが、「魔法のたれ」です。この本の中の材料に記載されている「基本の漬けだれ」＝（イコール）「魔法のたれ」。仮に「基本の漬けだれ」が50ml入れるのであれば、「魔法のたれ」を50ml入れて下さい。

  .l-content-column
    include /include/contact-tel

    +contactTel({message:"「魔法のたれを購入したい」旨<br>お伝えください。"})