extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-mahou-tare";
  - const PAGE_NAME_JA = "魔法のたれ購入ページ";
  - const PAGE_DESCRIPTION = "魔法のたれ購入ページ"
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/mahonotare_04.html")
