extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "mahou-shoyu";
  - const PAGE_NAME_JA = "これ一本で完成！「魔法のしょうゆ」";
  - const PAGE_DESCRIPTION = "醤油屋の三代目が、美味しい料理が簡単に作れる醤油を追い求め、完成しました。"

block side_content
  include /include/mahou-nav

  +mahouNav("mahou-shoyu")


  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub これ一本で完成！
        .e-main 魔法のしょうゆ

      p.e-desc 40年かけて極めた味。塩分を約50％カット！甘みと旨味が絶妙なバランス。
        br
        | 「醤油の王様だ！」と徳次郎が申しております。

      .e-image
        +img(src="/images/shoyu-kv.jpg", alt="")


  .c-points.u-mb-60
    .l-content-column.e-inner
      .e-border
        h2.e-heading 
          .e-small 美味しい×簡単
          .e-big 魔法のしょうゆの特徴

    


        .e-points
          .e-point
            h3.e-title 1.子どもさんも好む美味しさ
            .e-image
              +img(src="/images/shoyu-graph.png", alt="")
            p.e-desc.
              減塩で甘口のうまみたっぷり本醸造。
              濃口しょうゆよりも、塩分を40％減らしてあるので、その分うまみがグーンと全面に出ています。

            p.e-desc.u-tar
              a.c-link(href="/product/mahou-shoyu/#tanjou-hiwa") 美味しさの秘密はこちら！


          .e-point
            h3.e-title 2.忙しいお母さんでも、かんたん
            .e-image
              +img(src="/images/shoyu-kantan.jpg", alt="")
            p.e-desc.
              まずはおひたし、冷や奴、納豆などのかけ醤油に。すぐに美味しさを実感していただけます。
              また、山形名物「いも煮」やすき焼きの味付け等もこれ一本で完了。みりんや砂糖を加える必要がありません。
              <a class="c-link" href="https://recipe.niizekisatomi.com/recipes?recipe_condiment=shoyu" target="_blank">レシピ</a>もたくさん用意してありますよ。
              そのままかけても料理にしても美味しい、まさに、アイデア広がる魔法のしょうゆです。

            p.e-desc.u-tar
              a.c-link(href="/product/mahou-shoyu/#kantansa") 簡単さの秘密はこちら！
    


  .c-customer-voice.u-mb-60
    .l-content-column.e-inner
      h2.c-h2 
        span.e-content お客様からの声
      div.e-voices
        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content
            h3.c-h3.u-mb-0 野菜のおひたしを子供に
            | おひたし嫌いの子どもが<strong>魔法のしょうゆに変えたら、おひたしが大好きに</strong>。親としても嬉しいです。しょっぱすぎないから？
            

        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content
            h3.c-h3.u-mb-0 大学生の朝に卵かけご飯
            | 卵かけご飯に魔法のしょうゆを使ってみたら、すぐに<strong>やさしい美味しさを実感しました</strong>。毎日魔法のしょうゆで食べています！もう、辛口の醤油には戻れません。
            
        .e-voice
          .e-icon
            +img(src="./images/icon-person.svg" alt="" no2x)
          blockquote.e-content
            h3.c-h3.u-mb-0 料理の第一歩に
            | はじめは半信半疑でしたが、本当に<strong>これ一本で甘辛い山形の芋煮が再現できてびっくりです</strong>。他にも唐揚げなどレシピが豊富なので、料理が楽しくなり、家族も喜んでいます。

      hr.c-section-end.u-mt-30

  .l-content-column.u-mb-100
    a.c-button.is-pink.is-general(href="/product/mahou-shoyu/purchase/" target="_blank") 魔法のしょうゆを購入する <i class="fas fa-shopping-cart"></i>

    p.u-mt-30.u-mb-20 「新関さとみの田舎ごはんレシピ」では、さとみ自身が考案した魔法のしょうゆを使ったレシピを公開しています。

    a.c-button.is-yellow.is-general(target="_blank" href="https://recipe.niizekisatomi.com/recipes?recipe_condiment=shoyu" ) レシピサイトを見る <i class="fas fa-utensil-spoon"></i>


  .p-mahou-column#tanjou-hiwa
    .e-inner.l-content-column

      h2.c-icon-heading.is-align-bottom
        .e-icon.is-bottle
          img(src="/images/bottle-mahou-shoyu.png", alt="" style="width: 40px")
        .e-title
          .e-sub 醤油の王様
          .e-main 魔法のしょうゆ誕生秘話

      h3.c-h3 お母さんと、子どもさんのために


      p.u-mb-10.
        「子供がおひたしを食べてくれないの。」そんな、とあるお母さんのお悩みから、「もしかして、かける醤油がおいしければ…！」とひらめき、三代目徳次郎の挑戦は始まりました。
      figure.c-figure.u-flr
        +img(src="/images/mahou-tokujirou.jpg", alt="")
        figcaption.e-figcaption さとみと徳次郎
      p.u-mb-10.
        長年、先代の味を守り作り続けてきた三代目でしたが、自分の調合ノウハウを駆使し、今までの醤油とは違った「三代目のオリジナル醤油」を作ろうと思ったのです。

      ol.c-ol.u-mb-10
        li: strong 子供にも美味しく
        li: strong 忙しいお母さんにやさしく
        li: strong これ一本で美味しい

      p.u-mb-10 何度も作っては捨て、また作り直すを繰り返しました。我が子が生まれた後は、息子にも美味しい醤油を食べさせたいとの思いから、さらに研究にも熱が入り、とうとう絶妙の配合にたどり着きました。
        strong 醤油の王様「魔法のしょうゆ」
        |の誕生でした。

      p.u-tac.u-mt-60.u-mb-60 たどり着いた「魔法」とは…
        br
        img(src="/images/icon-godown.svg", alt="")


      h3.c-h3 素材の「味」を生かす！



      .u-mb-30.u-clearfix
        h4.c-h4 あえてだしは入れていません。

        figure.u-sp-tac
          +img.u-flr(src="/images/shoyu-sozai.jpg", alt="")
        p.u-mb-30.
          「一本で美味しい」といわれると、かつおだしや昆布だしがあらかじめ入った醤油をベースとした醤油調味料を想像するかもしれません。
          しかし、たとえば牛肉と豆腐を煮るときにその素材の味や香りを生かすには、香りの強いかつおぶしなどのだしの風味がかえって邪魔になってしまうのです。ですから、「魔法のしょうゆ」には、あえてだしを入れていません。

      .u-mb-30.u-clearfix

        h4.c-h4 塩分を約50％カット！
        figure.u-sp-tac
          +img.u-fll(src="/images/shoyu-graph.png", alt="")
        p.u-mb-30.
          従来の濃口しょうゆは、塩分16.5％と言われています。魔法のしょうゆは、8.6％。
          塩分を約50％減らしてあるので、うまみがグーンと全面に出ています。


        p.
          塩分を減らし、うまみを引き立たせる絶妙な
          調合により、口当たりがよく、そして体にやさ
          しい醤油になりました。旬の野菜のおひたし
          にかけると、旬そのものの味わいが口いっぱ
          いに広がります。冷や奴、湯豆腐にももちろん
          最適です。朝ご飯の定番、納豆、たまごかけご
          飯にも最適です！


      p#kantansa.u-tac.u-mt-30.u-mb-30 簡単さの秘密！
        br
        img(src="/images/icon-godown.svg", alt="")


      h3.c-h3 これ一本で出来上がり！

      .u-mb-30.u-clearfix
        h4.c-h4 砂糖・みりんなど必要なし。何も入れなくてもOK
        figure.u-sp-tac
          +img.u-flr(src="/images/shoyu-imoni.jpg", alt="")
        p.u-mb-30.
          忙しいみなさんは、手軽に美味しい料理醤油、砂糖、みりんなどを分量を測って味付けすることなしに、おいしい料理が出来れば楽チンですよね。そんな方のために、甘みも加えました。里芋、こんにゃく、牛肉、ねぎを醤油で煮込む<a class="c-link" href="https://recipe.niizekisatomi.com/recipes/105?recipe_condiment=shoyu" target="_blank">山形名物「いも煮」</a>は、砂糖、酒などを入れず「魔法のしょうゆ」一本で出来上がり。すき焼きのたれとして、そのまま使えばジュウジュウおいしいすき焼き完成。


      .u-mb-30.u-clearfix
        h4.c-h4 唐揚げもお手軽カンタン
        figure.u-sp-tac
          +img.u-fll(src="/images/shoyu-karaage.jpg", alt="")
        p <a class="c-link" href="https://recipe.niizekisatomi.com/recipes/212?recipe_condiment=shoyu" target="_blank">鶏の唐揚げ</a>は、細切れの鶏肉を魔法のしょうゆにつけ込み粉をつけてあげるだけ。バランスのよい味つけにびっくり。つまり、どんな煮物や料理もこれ一本で出来あがるまさに「魔法のしょうゆ」です。
        p.u-mb-30 その他、チャーハンやカレーの隠し味等にもお使いいただくと、今までの味により深みが増します。 ぜひお試し下さいね。


      a.c-button.is-yellow.is-general(target="_blank" href="https://recipe.niizekisatomi.com/recipes?recipe_condiment=shoyu" ) レシピサイトを見る <i class="fas fa-utensil-spoon"></i>




  .l-content-column
    p.u-tac.u-mt-60.u-mb-60
      a.c-button.is-pink.is-general(href="/product/mahou-shoyu/purchase/" target="_blank") 魔法のしょうゆを購入する <i class="fas fa-shopping-cart"></i>



    include /include/contact-tel

    +contactTel({message:"「魔法のしょうゆを購入したい」旨<br>お伝えください。"})