extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-mahou-shoyu";
  - const PAGE_NAME_JA = "魔法のしょうゆ購入ページ";
  - const PAGE_DESCRIPTION = "魔法のしょうゆ購入ページ"
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/syouyu_04.html")
