extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-miso-22";
  - const PAGE_NAME_JA = "22割こうじ超特撰味噌 を購入";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/km22-03.html")
