extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-miso";
  - const PAGE_NAME_JA = "糀たっぷり天然醸造味噌";
  - const PAGE_DESCRIPTION =  PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=/product/miso/purchase/18/")
