extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "糀たっぷり天然醸造味噌";
  - const PAGE_DESCRIPTION = "創業まもなく100年の味噌蔵で作る、天然醸造のやさしい味わい、蔵出しの味"

block side_content
  include /include/mahou-nav

  +mahouNav("miso")


  include /include/dentou-product-miso.pug