extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-mochi";
  - const PAGE_NAME_JA = "人が杵と臼で搗いた餅 購入ページ";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/okushiratama.html")