extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-seisai";
  - const PAGE_NAME_JA = "青菜漬け 購入ページ";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/seisai_01.html")
