extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-umeboshi";
  - const PAGE_NAME_JA = "天日干し梅干し 購入ページ";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/umeboshi_03.html")