mixin dentouBanners(current)

  .c-h2: .e-content 手作り伝統の味

  nav.c-dentou-nav
    ul.e-list.is-page-top
      li.e-item(class=(current==="miso"?"is-current":""))
        a.e-link(href="/dentou/miso/")
          +img.e-img(src="/images/banner-dentou-miso.jpg" alt="糀たっぷり天然醸造味噌のイメージ")
          .e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 糀たっぷり<wbr>天然醸造味噌

      li.e-item(class=(current==="umeboshi"?"is-current":""))
        a.e-link(href="/dentou/umeboshi/")
          +img.e-img(src="/images/banner-dentou-umeboshi.jpg" alt="天日干し梅干しのイメージ")
          .e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 天日干し<wbr>梅干し


      li.e-item(class=(current==="seisai"?"is-current":""))
        a.e-link(href="/dentou/seisai/")
          +img.e-img(src="/images/banner-dentou-seisai.jpg" alt="雪あたり青菜漬のイメージ")
          .e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 雪あたり<wbr>青菜漬

      li.e-item(class=(current==="mochi"?"is-current":""))
        a.e-link(href="/dentou/mochi/")
          +img.e-img(src="/images/banner-dentou-mochi.jpg" alt="杵と臼でついた餅のイメージ")
          .e-title 
            img.e-icon(src="/images/icon-dentou-link.svg", alt="")
            span.e-text 杵と臼で<wbr>ついた餅

