//dentou, product 両方の配下に misoがあるので共通化
article
  .l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 22割・18割・15割から選べる
        .e-main 糀たっぷり<br>天然醸造味噌

      p.e-desc 創業まもなく100年の味噌蔵で作る、天然醸造のやさしい味わい、蔵出しの味

      .e-image
        +img(src="/images/miso-owan-kv.jpg", alt="")

  .c-points.u-mb-60
    .l-content-column.e-inner
      .e-border
        h2.e-heading 
          .e-small 糀たっぷりの天然醸造味噌
          .e-big ４つの特徴

        .e-points
          .e-point
            h3.e-title 1. 22割、18割、15割こうじとは？
            .e-image
              img(src="/images/miso-kouji-mame.jpg", alt="")
            p.e-desc
              strong 数字が多くなればなるほど、こうじの量が増えます。さとみの味噌は米こうじたっぷりのお味噌です。
              br
              |一般的な味噌は、豆10に対して米こうじ8の「8割みそ」が通常の配合です。米をいっぱい入れるとおいしくなるのですが、豆よりも米の価格が高く、原価率が高くなりすぎて、なかなか出来ませんでした。　私達の代になり、子供も喜び、若い人達の口に合うよりおいしい味噌を作りたいとの思いから、こうじの量にこだわるようになったのです。




          .e-point
            h3.e-title 2.おいしさを求めて、甘く減塩に。

            .e-image
              img(src="/images/miso-zairyo.jpg", alt="")
              
            p.e-desc.
              こうじが多いと・・・。

            ol.c-ol
              li お米は甘い。米こうじにすると、もっと甘くなる。笑顔広がる自然の甘さが楽しめます。
              li 米こうじを増やすと、なんと塩の量を減らせる。つまり「減塩のお味噌」になります。 


          .e-point
            h3.e-title 3. 安心安全、全量「山形県産大豆・米」を使っています。

            .e-image
              img(src="/images/miso-daizu.jpg", alt="")
            p.e-desc.
              今、流通する味噌の原材料である大豆の国産の割合は、どの位だと思いますか？なんとびっくり１０％以下と言われています。原料原価が高いとお味噌の値段が高くなるので、安価な外国産の大豆を使用する傾向にあります。しかしながら、私達は、味わいの良さと安心安全さを求めて、山形県産大豆はもちろん、お米も山形県産を使用です。


          .e-point
            h3.e-title 4. 数量限定。昔ながらの手作り、天然醸造のため、数に限りがございます。

            .e-image
              img(src="/images/miso-kura.jpg", alt="")

            p.e-desc.
              当社は昔ながらの製法で、仕込み時は朝３時から、大鍋で豆を３時間煮ています。
              つぶした大豆と出来立ての米こうじと塩を合わせる行程は、すべて手作業。
              そして、夏の気温上昇とともに発酵させ、四季折々の温度湿度の変化そのままに熟成させた<strong>「天然醸造」</strong>。
              （最近では機械で仕込み、工場内で即成熟成された味噌がほとんどです。）
              じんわり発酵するので、やさしい味わい。
              注文を頂いてから、蔵出しして袋詰めにします。
              味噌の香り豊かな、これぞまさしく<strong>「生きた味噌」</strong>を口にできます。

            p.e-desc.
              みそ汁にすると大豆の香りがいっぱいに広がり、とても甘くて最高においしい！贅沢なお味噌です。糀が浮いて見た目も上品な本物の味。また、味噌おにぎりにも最高。モロキュウなど、味噌本来の味を追求したい時にもってこいの味です。




  .l-content-column
    h2.c-h2: .e-content こうじ分量の説明


    .c-grid
      section.c-grid__cell.is-6.is-sp-12.u-mb-60
        h3.c-h3 22割こうじ超特撰味噌
        img(src="/images/miso-22.jpg", alt="22割こうじ超特撰味噌")


        .c-grid.is-center.u-mb-10
          .c-grid__cell.is-6.is-sp-7
            p.u-color-red
              strong
                |新時代の味噌
                br
                |さらに甘く、さらに減塩
            p.u-mb-20
              br
              |塩分8.6ｇ
              br
              |（2018年発売）

          .c-grid__cell.is-6.is-sp-5
            img(src="/images/miso-kouji-mame-22.jpg", alt="22割こうじ超特撰味噌")
            

        p 豆が10に対して、米こうじが2.2倍の22割こうじ味噌。2018年に初めて仕込み、たった数年経った今、より減塩を求めるお客様に選んで頂ける超特撰の味噌です。どんどんリピーターが増えている、これからの時代の味噌です。


        p.u-tac.u-mt-30.u-mb-30
          a.c-button.is-pink(href="/product/miso/purchase/22/" target="_blank") 
            span 22割特選味噌<br>を購入 <i class="fas fa-shopping-cart"></i>

      section.c-grid__cell.is-6.is-sp-12.u-mb-60
        h3.c-h3 18割こうじ贅沢味噌
        img(src="/images/miso-18.jpg", alt="18割こうじ超特撰味噌")

        .c-grid.u-mb-10
          .c-grid__cell.is-6.is-sp-7
            p.u-color-red.u-mb-0 
              strong
                |売れ筋 No.1
                br
                |あまさ際立つ、減塩の味
            p.u-mb-20 
              br
              |塩分10.6ｇ
              br
              |（2011年発売）
              
          .c-grid__cell.is-6.is-sp-5
            img(src="/images/miso-kouji-mame-18.jpg", alt="18割こうじ超特撰味噌")

        p 豆が10に対して、米こうじが1.8倍の18割こうじ味噌。私たちの代になり、「もっともっとおいしくて贅沢な甘くておいしい田舎みそ」はないものかとの探究心から、2011年春に初めて仕込みました。当初は「あまさ際立つ、減塩の味」に賛同して頂けるか、心配でしたが、発売7年目の2017年より当味噌蔵の売れ筋トップ１に輝き、今一番ファンの多いお味噌です。

        p.u-tac.u-mt-30.u-mb-30
          a.c-button.is-pink(href="/product/miso/purchase/18/" target="_blank") 
            span 18割特選味噌<br>を購入 <i class="fas fa-shopping-cart"></i>

      section.c-grid__cell.is-6.is-sp-12.u-mb-60
        h3.c-h3 15割こうじ味噌
        img(src="/images/miso-15.jpg", alt="15割こうじ超特撰味噌")

        .c-grid.u-mb-10
          .c-grid__cell.is-6.is-sp-7
            p.u-color-red.u-mb-0
              strong
                |田舎味噌のスタンダード
                br
                |ほんのり甘め
            p.u-mb-20 
              br
              |塩分11.6ｇ
              br
              |（2007年発売）　

          .c-grid__cell.is-6.is-sp-5
            img(src="/images/miso-kouji-mame-15.jpg", alt="15割こうじ超特撰味噌")

        p 豆が10に対して、米こうじが1.5倍の15割こうじ味噌。山形の伝統的な黄金比率10割味噌の1.5倍のこうじが入っています。当社自信の22・18割こうじ味噌ほど甘味がいらない方でも、15割こうじ味噌のほんのりとした甘さを食べると、その魅力にはまってしまう、山形ならではの田舎みそです。2007年に、製造販売しました。

        p.u-tac.u-mt-30.u-mb-30
          a.c-button.is-pink(href="/product/miso/purchase/15/" target="_blank") 
            span 15割特選味噌<br>を購入 <i class="fas fa-shopping-cart"></i>



    p.u-tac.u-mb-30.u-color-red これからも研究を重ね、
      strong 来春には、25割味噌を発売予定。
      br
      strong 塩分8％以内を目指していきます。
      | お楽しみに！

    include /include/contact-tel

    +contactTel({message:"「糀たっぷり天然醸造味噌を購入したい」旨<br>お伝えください。"})