

mixin mahouNav(current)
  nav.p-mahou-nav
    .e-item
      a(href="/product/mahou-shoyu/" class=current==="mahou-shoyu" ? "is-current":"").e-link
        h3.e-title
          .e-sub 魔法の
          .e-main しょうゆ

    .e-item
      a(href="/product/mahou-tare/" class=current==="mahou-tare" ? "is-current":"").e-link
        h3.e-title
          .e-sub 魔法の
          .e-main たれ

    .e-item
      a(href="/product/miso/" class=current==="miso" ? "is-current":"").e-link
        h3.e-title
          .e-sub 糀たっぷり
          .e-main 味噌