

//helper mixins
mixin img()
  -
    if(attributes.no2x!==true){
        attributes.srcset= `${attributes.src} 1x, ${attributes.src.slice(0,-4)+'@2x'+attributes.src.slice(-4)} 2x`;
    }
  if attributes.no2x
    img()&attributes(attributes)
  else
    picture
      source(srcset=`${attributes.src.slice(0,-4)+'@2x'+attributes.src.slice(-4)}` media="(min-width:760px)")
      img()&attributes(attributes)


mixin driveimg()
  -
    const id = attributes.src.match(/file\/d\/(.*)\/view/)[1]

    attributes.src= `http://drive.google.com/uc?export=view&id=${id}`;

  img()&attributes(attributes)