extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

  meta(http-equiv="refresh", content="0; url=https://niizekisatomi.com/blog/")



block side_content

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 
        .e-main ブログ
      //
        p.e-desc 山形県産大豆・米を使った
          br
          | 甘みたっぷりやさしい味のみそづくり

        .e-image
          +img(src="./images/miso-kv.jpg" alt="味噌作り講座の様子")