
extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "top";
  - let PAGE_NAME_JA = null;
  - let PAGE_DESCRIPTION  = "新関さとみの田舎ごはん";


block side_content
  .l-content-column
    section
      h2.c-h2: .e-content .c-sub-header
      header.c-sub-header
        h1.e-title#title
          .e-sub 汎用パーツ記載
          .e-main パーツリスト
        p.e-desc キャッチコピー
          br
          | キャッチコピー

        .e-image
          +img(src="/images/img-misokouza.jpg" alt="味噌作り講座の様子")

    .u-mb-60

    section
      h2.c-h2: .e-content 見出し 1〜3

      .c-h1 
        .e-sub サブもある
        .e-main 見出し１

      .u-mb-60

      h2.c-h2: .e-content 見出し2

      h3.c-h3 見出し3
      h4.c-h4 見出し4


      p .c-icon-heading

      h2.c-icon-heading
        .e-icon
          img.e-img(src="images/icon-douga.svg", alt="" width="52" height="40")
        .e-title
          .e-sub 動画で学ぶ
          .e-main おうちで味噌講座

    .u-mb-60

    section
      h2.c-h2: .e-content .c-button

      h3.c-h3 色
      button.c-button.is-red 赤<i class="fas fa-shopping-cart"></i> 
      button.c-button.is-gray 灰色
      button.c-button.is-yellow 黄色
      button.c-button.is-orange オレンジ
      button.c-button.is-pink ピンク

      h3.c-h3.u-mt-30 配置
      h4.c-h4.u-mt-10 全幅 .is-width-full
      button.c-button.is-width-full 赤

      h4.c-h4.u-mt-10 中央寄せ .is-center
      button.c-button.is-center 赤

      h4.c-h4.u-mt-10 よく使う .is-general = .is-center + .is-sp-width-full
      button.c-button.is-general 赤

      h4.c-h4.u-mt-10 文字数多い
      button.c-button 文字数多い 文字数多い 文字数多い 文字数多い 文字数多い

      .u-mb-60

    section
      h2.c-h2: .e-content .c-link

      p.u-mb-30
        a.c-link(href="/") トップ

      .u-mb-60

    section
      h2.c-h2: .e-content .c-click-here

      a(href="/dentou/").c-click-here
        .e-click  click here!
        .e-detail 手作りの味を詳しく見る

    .u-mb-60



    section
      h2.c-h2: .e-content .c-slash-buttons

      .c-slash-buttons
        .e-type
          a(href="kouza/miso/#tab-shucchou").e-link
            h3.e-title
              .e-sub 一番人気
              .e-main 出張型
            .e-icon
              img.e-img(src="images/icon-shucchou.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-douga").e-link.m-yellow
            h3.e-title
              .e-sub 動画で学ぶ
              .e-main おうちで味噌講座
            .e-icon
              img.e-img(src="images/icon-douga.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-kyoushitsu").e-link.m-yellow
            h3.e-title
              .e-sub プライベート
              .e-main 教室型
            .e-icon
              img.e-img(src="images/icon-kyoushitsu.svg", alt="" width="52" height="40")

        .e-type
          a(href="kouza/miso/#tab-jukusei").e-link
            h3.e-title
              .e-sub おうちで熟成
              .e-main 通販型
            .e-icon
              img.e-img(src="images/icon-jukusei.svg", alt="" width="52" height="40")

      .u-mb-30

      .c-slash-buttons-3
        .e-item
          a(href="kouza/miso/#tab-shucchou").e-link
            h3.e-title
              .e-sub 一番人気
              .e-main 出張型

        .e-item
          a(href="kouza/miso/#tab-douga").e-link.is-current
            h3.e-title
              .e-sub 動画で学ぶ
              .e-main おうちで味噌講座

        .e-item
          a(href="kouza/miso/#tab-kyoushitsu").e-link
            h3.e-title
              .e-sub プライベート
              .e-main 教室型

    .u-mb-60

  section
    .l-content-column
      h2.c-h2: .e-content .c-points


    .c-points.u-mb-60
      .l-content-column.e-inner
        .e-border
          h2.e-heading 
            .e-small さとみの味噌づくり講座
            .e-big 4つのポイント


          .e-points
            .e-point
              h3.e-title 1.山形県産大豆を使用で安心安全
              .e-image
                +img(src="./images/miso-point-1.jpg" alt="")
              p.e-desc.
                大豆、米ともに山形県産大豆を使用しており、安心安全です。
                なんと、国産大豆使用のみそは日本に出回る味噌の1割程度と言われています。


            .e-point
              h3.e-title 2.こうじたっぷり味噌
              .e-image
                +img(src="./images/miso-point-2.jpg" alt="")
              p.e-desc 米どころ山形の特徴を生かし、こうじを豆より多くたっぷり使い、甘くて塩気のやさしい味噌を作ります。こうじの量を22割、18割、15割から選べます。数字が多いほどこうじの量が多くなり、より甘く減塩の味噌になります。

            .e-point
              h3.e-title 3.各家庭で自然発酵〜夏を越して完成〜
              .e-image
                +img(src="./images/miso-point-3.jpg" alt="")
              p.e-desc お客様が各家庭に持ち帰りいただき、台所や玄関先などに保存し夏の温度上昇とともに7月末〜9月には自然発酵によりお味噌が完成します。

            .e-point
              h3.e-title 4.約4か月から一年分の十分な量
              .e-image
                +img(src="./images/miso-point-4.jpg" alt="")
              p.e-desc 講座で作る味噌は約4～8キロ。一般家庭で消費する味噌の約4か月から一年分になります。

    .u-mb-60



    section
      .l-content-column.e-inner
        h2.c-h2: .e-content .c-customer-voice

      .c-customer-voice
        .l-content-column.e-inner
          h2.c-h2 
            span.e-content お客様からの声
          div.e-voices
            .e-voice
              .e-icon
                +img(src="./images/icon-person.svg" alt="" no2x)
              blockquote.e-content.
                4月に出張型の講座に参加しました。<br>
                8月に桶を開け、 <strong> 香りよし味よしで感激！</strong>
                

            .e-voice
              .e-icon
                +img(src="./images/icon-person.svg" alt="" no2x)
              blockquote.e-content.
                出張型に毎年参加しております。<br>
                <strong>孫が私の作った味噌しか食べません。</strong> 小さな子供に気に入ってもらえる優しい甘い味噌です。
                
            .e-voice
              .e-icon
                +img(src="./images/icon-person.svg" alt="" no2x)
              blockquote.e-content.
                出来上がり時期にお手紙を頂き、ありがとうございました！<br>
                <strong>動画の説明をみながらかぶれなど取り除くことができたので分かりやすかったです！</strong>味見をしたらちゃんと美味しいお味噌が出来上がっていました！自分たちでこんなに美味しいお味噌が作れて本当に感動しました。

          hr.c-section-end.u-mt-30

    .u-mb-60

    .l-content-column
      section
        h2.c-h2: .e-content .c-caution

        .c-caution.u-mb-40
          h2.e-title 新しい生活様式への対応について
          p.e-desc.
            昨今の情勢を鑑み、従来より人気の「出張型味噌作り講座」の他に、上記の3つの形態での味噌講座もご用意いたしました。
            お客様の状況に合わせてお選びください。

      .u-mb-60

      section
        h2.c-h2: .e-content .c-contact-tel

        .c-contact-tel#tel-shucchou
          p.e-please こちらへお電話ください！
          a.e-number(href="tel:023-643-2513")
            img.e-icon(src="./images/icon-tel.svg", alt="")
            | 023-643-2513
          p.e-desc.
            「出張型味噌講座を開いてほしい」旨<br>
            ご連絡ください。

      .u-mb-60