
extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "top";
  - let PAGE_NAME_JA = null;
  - let PAGE_DESCRIPTION  = "新関さとみの田舎ごはんでは、山形の漬物・伝統料理を守っています。魔法の醤油、糀たっぷり天然醸造味噌をはじめとし、伝統的な梅干し・青菜漬け・お餅なども販売しています。おいしさと健康の為に、塩分10％以下の商品を提供していきます。";



block side_content
  .l-content-column
    .p-top-quick
      a(href="/kouza/miso/").e-item
        .e-inner
          .e-inner-inner
            .e-title 味噌作り講座
            .e-image 
              +img.e-img(src="/images/quick-misokouza.png" alt="味噌作り講座")
            .e-click click!
      a(href="/product/mahou-shoyu/").e-item
        .e-inner
          .e-inner-inner
            .e-title 魔法のしょうゆ<br>魔法のたれ
            .e-image 
              +img.e-img(src="/images/quick-mahou.png" alt="魔法の醤油・魔法のたれ")
            .e-click click!

      a(href="/dentou/").e-item
        .e-inner
          .e-inner-inner
            .e-title 伝統<br>手作りの味
            .e-image 
              +img.e-img(src="/images/quick-dentou.png" alt="伝統手作りの味")
            .e-click click!

      a(href="https://recipe.niizekisatomi.com" target="_blank").e-item
        .e-inner
          .e-inner-inner
            .e-title レシピサイト
            .e-image 
              +img.e-img(src="/images/quick-recipe.png" alt="レシピサイト")
            .e-click click!

    .p-top-kouzas
      .e-kouza.is-miso
        .e-link
          h2.e-title 味噌作り講座
          .e-thumb
            +img.e-img(src="/images/img-misokouza.jpg" alt="漬物講座のイメージ")
          +img.e-daikohyo(src="/images/icon-daikohyo.png" alt="大好評")
          p.e-desc オンラインも選べる！大人気講座です。
          a(href="/kouza/miso").c-click-here
            .e-click  click here!
            .e-detail 味噌講座を<br class="u-sp">詳しく見る

      .e-kouza
        .e-link
          h2.e-title 漬物講座
          .e-thumb
            +img.e-img(src="/images/img-tsukemono.jpg" alt="漬物講座のイメージ")
          p.e-desc お義母さんから受け継いだ、さとみのルーツ。
          a(href="/kouza/tsukemono").c-click-here
            .e-click  click here!
            .e-detail 漬物講座を<br class="u-sp">詳しく見る

    .p-top-bottles
      .e-bottle
        h2.e-title 魔法のしょうゆ
        figure.e-thumb
          +img.e-img(src="/images/bottle-mahou-shoyu.png", alt="魔法のしょうゆのイメージ")
        .e-content
          p.e-catch-copy これ一本で美味しい料理が簡単に！

          .e-buttons
            a(href="/product/mahou-shoyu/").e-button 魔法の醤油とは？
            a(href="/product/mahou-shoyu/purchase/" target="_blank").e-button.is-purchase 購入する

          .e-info
            p 1リットル 1本<br>
              |価格: <span class="e-price">¥780</span> <span class="e-tax">(税込)</span>

      .e-bottle.is-sp-reverse
        h2.e-title 魔法のたれ
        figure.e-thumb
          +img.e-img(src="/images/bottle-mahou-tare.png", alt="魔法のたれ")
        .e-content
          p.e-catch-copy 漬物が美味しく！<br>レシピも豊富♪
          .e-buttons
            a(href="/product/mahou-tare/").e-button 魔法のたれとは？
            a(href="/product/mahou-tare/purchase/" target="_blank").e-button.is-purchase 購入する


          .e-info
            p 1リットル 1本<br>
              |価格: <span class="e-price">¥780</span> <span class="e-tax">(税込)</span>



    .p-top-dentou

      h2.e-heading 伝統手作りの味

      p.e-desc 新関さとみのおすすめ商品！商品の魅力を余すところなくお伝えします♪
      
      ul.e-list
        li.e-item
          a.e-link(href="/dentou/miso/")
            +img.e-img(src="/images/banner-dentou-miso.jpg" alt="糀たっぷり天然醸造味噌のイメージ")
            .e-title 
              img.e-icon(src="/images/icon-dentou-link.svg", alt="")
              span.e-text 糀たっぷり天然醸造味噌

        li.e-item
          a.e-link(href="/dentou/umeboshi/")
            +img.e-img(src="/images/banner-dentou-umeboshi.jpg" alt="天日干し梅干しのイメージ")
            .e-title 
              img.e-icon(src="/images/icon-dentou-link.svg", alt="")
              span.e-text 天日干し梅干し


        li.e-item
          a.e-link(href="/dentou/seisai/")
            +img.e-img(src="/images/banner-dentou-seisai.jpg" alt="雪あたり青菜漬のイメージ")
            .e-title 
              img.e-icon(src="/images/icon-dentou-link.svg", alt="")
              span.e-text  雪あたり青菜漬

        li.e-item
          a.e-link(href="/dentou/mochi/")
            +img.e-img(src="/images/banner-dentou-mochi.jpg" alt="杵と臼でついた餅のイメージ")
            .e-title 
              img.e-icon(src="/images/icon-dentou-link.svg", alt="")
              span.e-text 杵と臼でついた餅

      a(href="/dentou/").c-click-here
        .e-click  click here!
        .e-detail 手作りの味を詳しく見る

  .p-top-products
    .e-inner
      h2.e-heading 全ての商品

    //-
      .e-scroll
        ul.e-list
          li.e-item
            a.e-link(href="/product/xxxx")
              img.e-img(src="http://placehold.jp/300x300.png" alt="")
              .e-title もちだまり

          li.e-item
            a.e-link(href="/product/xxxx")
              img.e-img(src="http://placehold.jp/300x300.png" alt="")
              .e-title もちだまり

          li.e-item
            a.e-link(href="/product/xxxx")
              img.e-img(src="http://placehold.jp/300x300.png" alt="")
              .e-title もちだまり

          li.e-item
            a.e-link(href="/product/xxxx")
              img.e-img(src="http://placehold.jp/300x300.png" alt="")
              .e-title もちだまり

          li.e-item
            a.e-link(href="/product/")
              .e-more 全て見る

    .e-inner
      a(href="/product/").c-click-here
        .e-click  click here!
        .e-detail 全ての商品を見る


  .l-content-column
    .c-grid
      .c-grid__cell.is-6.is-sp-12
        .p-top-events
          h2.e-heading イベント情報・直売所

          p 新関さとみの商品をご購入いただけます。
          +img.e-img(src="/images/img-chokubai.png" alt="")

          a(href="/event/").c-click-here
            .e-click  click here!
            .e-detail イベント・直売所を見る

      .c-grid__cell.is-6.is-sp-12
        .p-top-blog
          h2.e-heading ブログ

          //-
            a.e-link(href="")
              article.e-article.is-big
                +img.e-img(src="/images/blog-umeboshi.png" alt="")
                .e-content
                  h3.e-title 2020年天日干し梅干し
                  p.e-date  2020/7/1

            a.e-link(href="")
              article.e-article
                +img.e-img(src="/images/blog-umeboshi.png" alt="")
                .e-content
                  h3.e-title 2020年天日干し梅干し2020年天日干し梅干し2020年天日干し梅干し
                  p.e-date  2020/7/1

            a.e-link(href="")
              article.e-article
                +img.e-img(src="/images/blog-umeboshi.png" alt="")
                .e-content
                  h3.e-title 2020年天日干し梅干し2020年天日干し梅干し2020年天日干し梅干し
                  p.e-date  2020/7/1

          a(href="/blog").c-click-here
            .e-click  click here!
            .e-detail ブログ記事を見る


    section.p-top-profile-section
      h2 新関さとみについて 

      .c-grid.u-mb-30
        .c-grid__cell.is-6.is-sp-12
          a(href="/profile")
            +img(src="/images/banner-profile.png" alt="")

          a(href="http://recipe.niizekisatomi.com" target="_blank")
            img(src="/images/banner-recipe.jpg" alt="")

        .c-grid__cell.is-6.is-sp-12
          a(href="https://tsukemono.info")
            img(src="/images/banner-shopping.jpg" alt="")

