extend /layout/side-kv

append head_begin
  - const PAGE_NAME = "miso";
  - const PAGE_NAME_JA = "新しい生活様式対応!さとみの味噌作り講座";
  - const PAGE_DESCRIPTION = "さとみの味噌作り講座は山形県内、宮城県仙台市周辺、福島県郡山市周辺で開催しています。新しい生活様式に対応するため、これまで大好評の出張型味噌講座の他に、動画型、教室型、通販型の3つの講座タイプをご用意しました。山形県産の大豆と米こうじをたっぷり使用し、甘みたっぷりやさしい味の味噌を作りましょう。"

block side_content

  article.l-content-column
    .c-sub-header
      h1.e-title
        .e-sub 新関さとみ
        .e-main プロフィール

      p.e-desc 古き良き日本の味を伝えたい！昔ながらの食、手作りの良さを伝えたい！
        br 
        | ひと手間と愛情をかけた食の大切さを伝えたい！


      .e-image
        +img(src="./images/profile-kv.jpg" alt="お義母さんとさとみ")


    p.
      

    p.
      

    section.u-mb-60
      h3.c-h3 はじめに

      figure.c-figure.u-flr
        +img(src="./images/miso-kura.jpg" alt="ヤマニ醤油醸造")
        figcaption.e-figcaption 空から見たヤマニ醤油醸造

      p.
        創業まもなく100年を迎える味噌醤油の醸造元に3代目に嫁ぎ、義母より昔ながらの食の素晴らしさを学びました。<br>
        2001年より漬け物作り講座、2002年より味噌づくり講座を開催。年間最大4,700人以上(2019年)、累計30,000人以上の方に参加を頂いております。


      .u-clearfix


    section.u-mb-60
      h3.c-h3 お義母さんから学んだ、旬の漬け物の美味しさ
      figure.c-figure.u-flr
        +img(src="./images/profile-haha.jpg" alt="お義母さんとさとみ")
        figcaption.e-figcaption お義母さんとさとみ
      p.
        山形市西部の田園地帯にある醤油・味噌の醸造元「山二醤油」に嫁いだのは、平成7年のことでした。
        義母は、「漬物名人」で、近所の方から分けてもらった大量の季節の野菜を一瞬にしておいしいお漬物にしてくれました。
      p.u-mb-20.
        私はその手際の良さと味つけのセンスにいつも感心していました。
        旬の漬物が食卓に出ると、夫は「うまい。やっぱり、母ちゃんが作るこの漬物最高だな～。」と喜び、漬物の種類に季節を感じるという文化を、嫁いで初めて知ったのでした。


      .u-clearfix

    section.u-mb-60
      h3.c-h3 「漬物研究家」として活動を開始

      figure.c-figure.u-fll
        img(src="./images/profile-imoni.jpg" alt="漬物研究家")
        figcaption.e-figcaption 漬物研究家として活動

      p.
        子どもが生まれたのを機に、私も「ママの漬けたお漬物が一番！」と言われたい気持ちと、新関家の味を受継がなければとの思いから、義母から少しずつ漬け方を教えてもらう様になりました。
        この<strong>「家庭で漬物をつける古き良き伝統」を絶やしてはならない</strong>という気持ちが高まり、義母の力をかりながら、この様な活動を始めました。

      .u-clearfix

    section.u-mb-60
      h3.c-h3 みんなの知恵を結集

      figure.c-figure.u-flr
        +img(src="/images/profile-bancha.jpg", alt="")
        figcaption.e-figcaption 企業組合設立総会<br>左から伯母、実母、義母
      p.
        漬物の勉強をしていると聞いた親戚のおばさんや近所のおばあちゃん達が「おれ（私）の漬物も覚えてくれ。誰も興味をもってくれなくて。さとみちゃんに教えたい。」といろいろ教えてくれました。
        ですから、私の漬物は、私の母達、親戚のおば達、近所のおばあちゃん達、そう大曽根地区、山形市、山形県に伝わるみんなの知恵の結集です。
      p.
        日本の食文化を次世代に受け継いでいきたいと、2003年義母、伯母、実母と共に法改定後山形県第一号の女性だけ企業組合を設立しました。
        製造販売だけではなく、本物の味を求める方に漬物講座、味噌講座、郷土料理講座を開催しております。

      .u-clearfix


    section 
      h2.c-h2: .e-content 略歴

      table.p-profile-history-table
        tr
          th
          td.
            山形出身の両親のもと、横浜市に生まれる。父のUターンのため、山形県天童市に移転。山形県立山形西高等学校卒業。清泉女子大学スペイン語学科卒業。<br>
            大学、OL時代を東京で過ごし、28歳の時、Uターン。<br>
        tr
          th 平成 7年（1995）
          td 山二醤油醸造に嫁ぐ。
        
        tr
          th 平成12年（2000）
          td 漬物の販売を始める。

        tr
          th 平成13年（2001）
          td 秋より、ケーブルテレビ山形にて「さとみの漬物講座」を放映。5年間放映の番組で紹介した漬け物は約80アイテムにのぼる。<br>

        tr
          th 平成15年（2003）
          td 8月に、県知事の認可を受けて、法改定後県内第一号の、女性だけの企業組合を義母、伯母、実母と共に立ち上げる。<br>
            |NHK視聴者会議の委員任命。
        tr
          th 平成17年（2005）
          td 11月、「さとみの漬物講座」レシピ本発刊、初版3000部半年にて完売のため、増刷。<br>
            |伝統的なものから新感覚なものまで、少人数の家庭でも食べきれる量の四季折々のレシピが大好評を得る。<br>
            |現在11刷、まもなく20,000部に。<br>
        tr
          th 平成19年（2007）
          td 10月、全国商工会議所女性会「第6回　女性起業家大賞」特別賞受賞。<br>
            | 東北では唯一の入賞者となる。漬物事業の総合化を評価された。
        tr
          th 平成20年（2008）
          td.
            2月より、NHK総合テレビ「情報パレット」の「楽々クッキング」にレギュラー出演。「さとみ流簡単お漬物」で簡単漬物の紹介。<br>
            4月より、河北新報「フード風土」コラム開始。食について、1年間連載。<br>
            NHK第一ラジオ「東北朝いちばん」の地域レポーターで、山形の話題を届ける。<br>
            8月ＰＨＰ研究所より「ビニール袋で手早くできる！野菜のうまみが活きる漬け物」全国発売！漬け物王国山形を全国に発信。初版2ヶ月にて完売。増刷を重ねる。現在17刷　レシピ本市場の大ベストセラーである40,000部に。<br>
            10月、山形県男女共同参画社会づくりチャレンジ賞を受賞。 （編集済み）<br>

        tr
          th 平成22年（2010）
          td 4月より、ＮＨＫ総合テレビ「情報パレット」の月曜コーナー「しあわせレシピ」にレギュラー出演。「シャカシャカっとお漬物」で月2アイテムの漬物を紹介。10年続ける。<br>
            |3月より、山形県産業構造審議会委員に任命。現在も継続中<br>
            |6月、内閣府、男女共同参画女性のチャレンジ賞受賞　全国で４人の中に選ばれる。首相官邸にて表彰式。<br>
            |12月より、毎日新聞社「とうほく彩発見」に山形県人としてコラム開始。10年間レギュラーを続ける。<br>
            |12月より、山形県産業科学館運営協議会委員を三期務める。<br>
        tr
          th 平成23年（2011）
          td 8月より、山形市農業委員会委員を四期務める。<br>
        tr
          th 平成24年（2012）
          td.
            4月より、NHK総合テレビ「ひるはぴ」の月曜コーナー「簡単お漬物」に7年間レギュラー出演。<br>
            4月より、山形市働く女性の家運営委員会委員を務める。現在も継続中。<br>
            4月より、三期山形県家庭教育推進事業の家庭教育アドバイサーを務める。<br>
            6月より、山形県中小企業団体中央会の理事を務める。現在も継続中。<br>
            8月10日、ＰＨＰ研究所より「おかずに美味しい　田舎ごはん」レシピ本第三弾全国発売！漬物分野から郷土料理に広げたレシピ満載。山形県内書店で売れ行きランキングで1位をとる。<br>


        tr
          th 平成25年（2013）
          td 6月より、山形県国際交流協会の理事を務める。現在も継続中。<br>
        tr
          th 平成26年（2014）
          td 10月、全国中小企業団体中央会の「組合功労者賞」受賞。<br>
        tr
          th 平成30年（2018）
          td 4月より、山形県社会教育委員を務める。<br>
            |4月より、農業共済新聞にて「簡単彩り漬物」2年間コラム執筆。<br>
            |12月、山形県商工観光功労者（商工事業）表彰<br>