.u-flr{
  float:right;

  margin-left: 2em;

  max-width: 40%;

  @include sp{
    margin-right: inherit;
    margin-left: inherit;

    float:none;

    max-width: 100%;
  }
}

.u-fll{
  float:left;
  margin-right: 2em;

  max-width: 40%;

  @include sp{
    margin-right: inherit;
    margin-left: inherit;
    float:none;
    max-width: 100%;

  }
}

.u-clb{
  clear: both;
}


.u-clearfix{
  &:after{
    content:"";
    display: block;
    clear: both;
  }
}