

.u-full-width{

    @include sp{
        margin-left: -$contents-padding !important;
        margin-right: -$contents-padding !important;
    }
}

.u-small-full-width{

    @include small{
        margin-left: -$contents-padding !important;
        margin-right: -$contents-padding !important;
    }
}