/* 文字を操作する系ユーティリティ */



.u-tal, .textleft, .alignleft {text-align: left!important;}
.u-tac, .textcenter, .aligncenter {text-align: center!important;}
.u-tar, .textright, .alignright {text-align: right!important;}
.u-taj, .textjustify, .alignjustify {text-align: justify!important;}


@include sp{
    .u-sp-tal{text-align: left!important;}
    .u-sp-tac{text-align: center!important;}
    .u-sp-tar{text-align: right!important;}
    .u-sp-taj{text-align: justify!important;}
}