/* ボタン */
.c-button{
  $height: 69px;

  position: relative;

  display: inline-flex;
    justify-content: center;
    align-items: center;


  height:$height;
  min-width: 270px;
  max-width: 100%;


  border-top: #ccc 3px solid; 
  border-bottom: #999 3px solid; 
  border-radius: $height/2;
  padding-left: 1em;
  padding-right: 1em;

  background-color: #aaa;

  color: white;
  font-size: 1.7rem;
  text-align: center;

  white-space: nowrap;



  ///////////// 色バリエーション //////////////

  &.is-gray{
    background-color: #aaa;
    border-top-color: #ccc; 
    border-bottom-color: #999; 
  }

  &, &.is-red{
    background-color: $color-red;
    border-top-color: rgba(#ff555c, .8); 
    border-bottom-color: #9f0006; 
  }

  &.is-orange{
    background-color: #F49600;
    border-top-color: rgba(#FFC37C, .8); 
    border-bottom-color: #C47201; 
  }

  &.is-yellow{
    background-color: #FFC914;
    border-top-color: rgba(#FFDC7C, .8); 
    border-bottom-color: #E2AE00; 
  }

  &.is-pink{
    background-color: #DB48AD;
    border-top-color: rgba(#FFA0ED, .8); 
    border-bottom-color: #B90086; 
  }


  ///////////// 配置 //////////////
  @mixin center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    width: 0;


    &::after{
      display: inline-block;
      position: static;
      margin-right: -19px;
    }
  }

  &.is-center{
    @include center;
  }

  @include tab{
    &.is-tab-center{
      @include center;
    }
  }

  @include sp{
    &.is-sp-center{
      @include center;
    }
  }




  @mixin width-full{
    display: flex; //block
    width:100%;
    margin: 0 auto;
  }

  &.is-width-full{
    @include width-full;
  }

  @include tab{
    &.is-tab-width-full{
      @include width-full;
    }
  }

  @include sp{
    &.is-sp-width-full{
      @include width-full;
    }
  }


  ///////////// 合わせ技 ///////////// 
  &.is-general{
    @extend .is-center;

    @include sp{
      @extend .is-sp-width-full;
    }
  }
}