

.c-caution{

  padding: 21px 17px;

  background: #666;

  color: white;

  >.e-title{
    
  
    padding: 0 2px 16px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;


    font-size: 1.8rem;

  }

  >.e-desc{
    font-size: 1.4rem;
    line-height: (26/14);

  }

}

