
.c-click-here{
  display: flex;
  align-items: flex-end;

  .e-click{
    flex: 1 1 0;

    position: relative;
    padding-right: 30px;
    border-bottom: 2px solid ;

    text-align: right;

    &::after{
      content: "";
      display: block;

      position: absolute;
        right: 0;
        bottom: 0;

      border-bottom: 2px solid ;

      margin-bottom: -2px;
      width: 20px;
      transform: rotate(45deg);
      transform-origin: right bottom;
    }
  }
  .e-detail{
    color: $color-bright-red;
    font-weight: bold;
    flex: 1 0 0;
    border-bottom: 2px dashed ;
    margin-left: 20px;
    text-align: right;
    white-space: nowrap;
  }
}
