
.c-contact-tel{

  border-style:solid;
  border-width: 1px 0;
  padding: 5px 0;


  margin: 0 auto;
  max-width: 600px;

  &::before{
    content:"";
    display: block;
    border-top: 1px solid;
    padding-top: 30px;
  }

  &::after{
    content:"";
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid;
  }

  text-align: center;

  .e-please{

  }

  .e-number{
    display: block;
    font-size: 3rem;
    padding: 15px 0;
    color: $color-red;

    .e-icon{
      height: 1.2em;
      display: inline-block;

      position: relative;
        top:.2em
    }

  }
  .e-desc{

  }

}