

.c-customer-voice{
  background-repeat: repeat;
  background-size: 10px 10px;
  background-image: linear-gradient(-45deg,
    #fff 25%, 
    $color-yellow 25%, $color-yellow 30%, 
    #fff 30%, #fff 75%,
    $color-yellow 75%, $color-yellow 80%, 
    #fff 80%
  );


  padding-top: 45px;
  padding-bottom: 45px;

  >.e-inner{

    >.e-voices{

      >.e-voice{
        display: flex;
          align-items: flex-start;
        margin-bottom: 30px;


        >.e-icon{
          flex: 0 0 53px;
          margin-right: 14px;
          

          >img{

          }

        }

        >.e-content{
          strong{
            font-size: (18/16)*1em;
            color: $color-red;

          }

        }

      }

    }

  }

}