

.c-dentou-nav{
  .e-title{
    @include font-midashi;

    text-align: center;
    font-size: 2.1rem;

  }

  .e-list{
    list-style: none;

    @include grid(8);


    .e-item{
      @include grid__cell(3, 8);


      @include sp{
        @include grid__cell(6, 8);
      }

      margin-bottom: 8px;

      &.is-current{
        >.e-link{
          >.e-title{
            >.e-icon{ 
              @extend .is-current;
            }

            @extend .is-current;
          }
        }
      }

      .e-link{
        display: block;
        position: relative;


        .e-img{
          display: block;
          width: 100%;
        }
        .e-title{
          position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
          
          padding: 0 10px;

          background: rgba(#000, .45);
          color: rgba(#fff, .8);

          display: flex;
            justify-content: center;
            align-items: center;
          
          font-size: 2.1rem;
          font-weight: bold;

          @include small{
            font-size: 1.8rem;
          }

          &.is-current{
            background: rgba(#000, 0);
            color: #fff;
          }

          .e-icon{ 
            vertical-align: middle;
            margin-right: .5em;
            opacity: .6;

            &.is-current{
              opacity: 1;
            }

            @include sp{
              width: 15px;
            }
          }
          .e-text{
            vertical-align: middle;
            line-height: 1.2;

            white-space: nowrap;

            @include medium{
              font-size: 1.6rem; 
            }
            @include sp{
              font-size: 1.4rem; 

            }
          }
        }
      }
    }
  }

}