@include tab-up{ //タブレット以下のサイズでのみ表示
  .c-global-nav{
    display: none;
  }
}


.c-global-nav{
  $topbar-height: 60px;

  >.e-topbar{
    position: fixed;
        top:0;
        left: 0;
        right: 0;
        z-index: z(top-bar);

    height:$topbar-height;
    padding: 10px;

    background: #fff;

    >.e-site-logo{
      >.e-img{
        display: block;
        max-height: $topbar-height - 20px -5px;
      }
    }
  }
  
  >.e-menu-button{
    position: fixed;
        right: 0;
        top:0;
        z-index: z(menu-button);

    display: flex;
      justify-content: center;
      align-items: center;

    width: $topbar-height;
    height: $topbar-height;

    background: #fff;

    >.e-img{

    }

    &.is-open{
      color: #333;

      >.e-img{
        display: none;
      }

      &:before,
      &:after{
        content: "";
        position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;

        margin: auto;

        display: block;
        border: 2px solid ;
        width: 40px;
        height:0;

        transform: rotate(45deg);

      }
      &:after{
        transform: rotate(-45deg);
      }
    }

    &.is-open+.e-menu{ // 連動して開かせる
      @extend .is-open;
    }
  }

  >.e-menu{

    position: fixed;
      top:0;
      left:0;
      right: 0;
      z-index: z(global-nav);
    
    box-sizing: border-box;
    max-height: 0;

    background: rgba(#000, .8);
    color: #fff;

    overflow: hidden;

    opacity: 0;
    transform: translate(0, 10px);
    transition: transform 1s, opacity 1s, max-height 0s 1s;

    &.is-open{
      bottom:0;
      max-height: 200vh;
      overflow: scroll;

      opacity: 1;
      transform: translate(0, 0);
      transition: transform 1s, opacity 1s;
    }

    >.e-inner{
      padding-top: 100px;
      padding-bottom: 50px;


      >.e-list{
        margin-top: auto;

        position: relative;
          z-index: z(kv-content, kv-menu);

        display: flex;
          flex-wrap: wrap;

        padding-left:16px;
        list-style: none;


        >.e-item{
          flex: 0 1 auto;
          width: 50%;
          margin-bottom: 30px;

          >.e-title{
            position: relative;

            border-left: 3px solid ;
            padding: 10px;

            line-height: 1;
            font-size: 1.8rem;
            @include font-midashi;

            @include small{
              font-size: 1.6rem;
            }
          }

          >.e-sub-list{
            list-style: none;

            >.e-item{

              >.e-title{
                display: block;

                padding: 13px;
                padding-left: 13px;

                line-height: 1;
                font-size: 1.8rem;
                @include font-midashi;

                @include small{
                  font-size: 1.4rem;
                }

                white-space: nowrap;

              }
            }
          }
        }
      }

    }
  }

  .e-link{
    text-align: center;

  }
}


