
.c-h1{
  margin-bottom: 40px;

  text-align: center;
  line-height: 1;

  @include font-midashi;

  >.e-sub{
    font-size: 2rem;
    margin-bottom: 16px;

  }
  >.e-main{
    font-size: 3.3rem;
  }
}

.c-h2{
  display: flex;
    justify-content: stretch;
    align-items: center;

  margin-bottom: 2.4rem;
  line-height: 1;


  text-align: center;
  @include font-midashi;
  font-size: 2.4rem;

  &::before,
  &::after{
    flex: 1 1 auto;
    content: "";
    border-bottom: 1px solid;
  }

  >.e-content{
    margin:0 10px;
  }
}

.c-h3{
  margin-bottom: 1em;


  @include font-midashi;
  font-size: 1.8rem;
  @include lineHeightCrop;

}

.c-h4{

  margin-bottom: 1em;
  @include font-normal;

  font-size: 1.8rem;
  color: $color-red;
}



.c-icon-heading{
  display: flex;
  align-items: center;

  padding-bottom: 11px;
  border-bottom: 1px solid $color-red;
  margin-bottom: 37px;

  @include font-midashi;

  &.is-align-bottom{
    align-items: flex-end;
  }


  .e-icon{
    flex: 0 0 auto;
    width: 75px;
    margin-right: 10px;

    img{
      vertical-align: bottom;
    }

    &.is-bottle{
      width: 60px;
      text-align: center;
      margin-top: -60px;
      margin-right: 0;

      img{
        width:38px;
      }

    }
  }

  .e-title{
    flex: 1 1 auto;

    line-height: 1;

    .e-sub{
      font-size: 1.8rem;
      margin-bottom: 11px;
    }
    .e-main{
      font-size: 2.4rem;
    }
  }
}
