
.c-ul{
  padding-left: 30px;
  list-style: none;

  >li{
    position: relative;

    &::before{
      content:"ー ";
      display: inline-block;
      position: absolute;
      left: -1.5em;
    }
  }
}

.c-ol{
  padding-left: 30px;

  >li{
  }
}