.c-page-footer{
  background: #eee;

  margin-top: 60px;
  padding: 46px 0 70px;

  >.e-inner{
    position: relative;

    >.e-gotop{
      position: absolute;
        top: -100px;
        right:10px;

      display: inline-block;

      display: flex;
      flex-direction: column;

      text-align: center;
      .e-icon{
        width: 60px;
      }
      .e-text{
        @include font-midashi;

        color: $color-red;
      }
    }

    .e-title{

      font-size: 1.6rem;
    }
    .e-address{

      font-size: 1.4rem;
    }

    .e-line{
      color:#000;
      margin-top:27px;
      margin-bottom: 34px;

    }

    .e-copyright{
      color: #666;
      font-size: 1.2rem;
    }

  }

}