.c-points{
  padding-top: 30px;
  padding-bottom: 30px;

  background: #fff2e6;


  >.e-inner{ //.l-content-column

    >.e-border{

      border: 1.5px solid;
      padding: 18px 15px 0px;

      >.e-heading{

        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 44px;


        line-height: 1;
        @include font-midashi;
        text-align: center;

        &:after{
          content:"";
          display: block;
          padding-bottom: 18px;


          border-bottom: 1px solid;
        }

        >.e-small{
          margin-bottom: 8px;
          font-size: 1.8rem;

        }
        >.e-big{
          font-size: 2.8rem;
        }


      }

      >.e-points{

        @include sp-up{ 
          @include grid(40);
        }

        >.e-point{

          @include sp-up{ 
            @include grid__cell(6,40);
          }
          margin-bottom: 60px;

          >.e-title{
            @include font-midashi;
            font-size: 1.8rem;

            @include lineHeightCrop;
            padding-bottom: 9px;
            border-bottom: 1px solid;

            margin-bottom: 12px;

          }
          >.e-image{
            margin-bottom: 12px;
            img{
              display: block;
              width: 100%;
            }
          }

          >.e-desc{

          }

        }

      }

    }
  }
}
