

.c-section{
    border-top: 20px solid #F7F8F7;
    border-bottom:  20px solid #F7F8F7;
    padding-top: 130px;
    padding-bottom: 120px;

    &.is-bottom-none{
        border-bottom:  0;
    }

    .c-section__title{
        color: $color-main;
        font-size: 3.4rem;
        letter-spacing: .18em;;
        text-align: center;


        margin-bottom: 85px;
        @include sp{
            font-size: 2.4rem;
            margin-bottom: 75px;
        }
    }
}

.c-section-end{
  border: 0;
  border-bottom: 1px solid;
}