.c-side-kv{
  position: relative;

  >.e-bg-wrap{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;

    @include tab-up{
      height: 100vh;
    }

    .swiper-container,
      .swiper-wrapper,
        .swiper-slide{
          height: 100%;
        }

    .e-bg{
      width: 100%;
      height: 100%;

      background: no-repeat center center/cover;

      &.is-1{
        background-position:  center top;
        background-image: url(/images/kv-bg-1@2x.jpg);

        @include sp-up{
          background-position: left top;
        }
      }
      &.is-2{
        background-position: center top;
        background-image: url(/images/kv-bg-2@2x.jpg);
        @include sp-up{
          background-position: left top;
        }
      }
      &.is-3{
        background-position:  center center;
        background-image: url(/images/kv-bg-3@2x.jpg);
      }
      &.is-4{
        background-position:  center center;
        background-image: url(/images/kv-bg-4@2x.jpg);
      }
    }
  }

  >.e-content{
    position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

      z-index:z(kv-content);


    display: flex;
      flex-direction: column;



    >.e-logo{
      flex: 0 0 auto;
      position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:z(kv-logo);

      display: flex;
        justify-content: center;
        align-items: center;
      margin: auto;

      @include tab-up{

        justify-content: flex-start;
        align-items: flex-start;
        right:auto;
        bottom:auto;
      }

      .e-link{

        .e-img{
          display: block;
          width: 129px;
          height: 232px;
          margin-bottom: 80px;
        }

      }
    }




    /*
    &.is-open, &:hover{
      background: rgba(#000, .6);
        left:0;
        right:0;

    }
    */


    >.e-pc-menu{
      flex: 1 1 auto;

      display: flex;
        
      margin-top: auto;
      margin-bottom: 30px;

      color: #fff;


      overflow-y: auto;

      text-shadow: 1px 1px 2px rgba(#000,.5);
      white-space: nowrap;

      @include tab{
        display: none;
      }
      
      >.e-list{
        margin-top: auto;

        position: relative;
          z-index: z(kv-content, kv-menu);


        padding-left:16px;
        list-style: none;


        &.is-open, &:hover{
          width: auto;
          >.e-item{
            @extend .is-open;

            >.e-child{
              @extend .is-open;
            }
          }

          +.e-shadow{
            @extend .is-open;
          }
        }

        //となりのリスト
        +.e-shadow{
          display: block;

          position: absolute;
            top:0;
            left:0;

            width: 0;
            height: 0;

            z-index: z(kv-content, kv-shadow);

          background-color: rgba(#000, .0);

          transition: background-color 1s;

          &.is-open{
            width: 100%;
            height: 100%;

            background-color: rgba(#000, .6);
          }

        }
        
        >.e-item{
          margin-bottom: 15px;
          display: flex;

          &.is-open{

            >.e-child{
              @extend .is-open;

            }
          }



          >.e-title{
            flex: 0 0 auto;
            width: 170px;

            position: relative;

            border-left: 3px solid ;
            padding: 10px;

            line-height: 1;
            font-size: 1.8rem;
            @include font-midashi;

          }

          >.e-child{
            flex: 0 1 100%;

            max-width: 0;
            max-height:0;
            overflow: hidden;

            opacity: 0;

            transition: max-height .5s, opacity .8s;

            &.is-open{
              max-width: 300px;
              max-height: 300px;
              opacity: 1;

            }

            >.e-sub-list{
              list-style: none;



              >.e-item{

                >.e-title{
                  display: block;

                  padding: 10px;
                  padding-right: 20px;

                  line-height: 1;
                  font-size: 1.8rem;
                  @include font-midashi;

                  &.is-open,&:hover{
                    opacity: 1;
                    background: rgba(#000, .3);

                  }

                }
              }
            }
          }
        }
      }
    }

    >.e-news{
      @include tab{
        margin-top: auto;
      }

      margin-bottom: 44px;
      >.e-line{
        display: inline-block;
        background-color: rgba(#fff, .9);
        padding: 10px 16px;
        margin-right: 10px;
        text-decoration: underline;

        &.is-date{
          text-decoration: none;
        }
      }

      >.e-br{
        display: block;
      }
    }

  }

  >.e-arrow{
    position: absolute;
      left:0;
      right:0;
      bottom:18px;
      z-index:2;

    margin: 0 auto;

    text-align: center;
    line-height: 1;

    @keyframes top-kv-img{
      0%{
        transform: translate(0,10px);
      }
      100%{
        transform: translate(0,0);
      }
    }

    @include tab-up{
      display: none;
    }

    .e-img{
      animation: top-kv-img 1s  ease infinite alternate;
    }

  }
}