
.c-slash-buttons{
  @include grid(10);

  position: relative;

  max-width: 800px;
  margin: 0 auto;

  &:after{ //真ん中の線
    content:"";
    
    display: block;

    position: absolute;
      top:17px;
      right: 50%;
      bottom:17px;
    border-right: 1px solid;
  }

  >.e-type{
    @include grid__cell(6, 10);

    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 5px;

    &:last-child,&:nth-last-child(2){

      padding-bottom: 0px;
      border-bottom: 0px;
      margin-bottom: 0px;

    }

    >.e-link{
      display: block;

      @include bg-slash($color-red);

      clip-path: polygon(
        calc(100% - 15px) 0%, 
        100% 15px, 
        100% calc(100% - 15px), 
        calc(100% - 15px) 100%,
        15px 100%,
        0% calc(100% - 15px),
        0% 15px,
        15px 0% ,
      );

      &.m-yellow{
        @include bg-slash($color-yellow)
      }

      padding-top: 21px;
      padding-bottom: 21px;

      >.e-title{

        margin-bottom: 11px;

        line-height: 1;
        white-space: nowrap;
        >.e-sub{
          font-size: 1.4rem;
          margin-bottom: 9px;
        }
        >.e-main{
          font-size: 1.8rem;

        }
      }
      >.e-icon{
        >.e-img{
          height: 40px;
          margin-bottom: -10px;
        }
      }
    }
  }
}

