

.c-sub-header{

  @include font-midashi;
  margin-top: 60px;

  @include sp{
    margin-top: 30px;

  }

  >.e-title{
    margin-bottom: 40px;

    text-align: center;
    line-height: 1;

    >.e-sub{
      font-size: 2rem;
      margin-bottom: 16px;

    }
    >.e-main{
      font-size: 3.3rem;

    }
  }
  >.e-desc{
    margin-bottom: 45px;

    text-align: center;
    font-size: 1.6rem;
    line-height: (28/16);
  }

  >.e-image{
    @extend .u-full-width;

    margin-bottom: 60px;
    img{
      width: 100%;

    }

  }
}
