
.c-url-tab{
  >.e-tabs{
    display: flex;
    list-style-type: none;

    align-items: flex-end;
    position: relative;

    height: 67px;

    >.e-tab{

      flex: 1 0 0;
      margin-right: 5px;

      &:last-child{
        margin-right: 0;
      }

      position: relative;
        z-index: 0;

      display: flex;
        justify-content: center;
        align-items: center;

      padding: 5px 0;

      border: 1px solid #000;
      border-width: 2px 0;

      width: 100%;
      height: 56px;

      background: #eaeaea;
      line-height: 1.2;

      &:focus{
        outline: none;
      }

      &.is-active{
        border-color: $color-red;
        z-index: 2;
        background: white;
        font-size: 2rem;

        height: 67px;

      }

    }

  }

  >.e-panel{

    display: none;

    padding-top: 60px;

    &.is-shown{
      display: block;
    }
  }

}