.l-content-column{
    max-width: $contents-width;

    margin-left: auto;
    margin-right: auto;

    &.is-narrow{
        max-width: $narrow-width;
    }

    padding-left:  $contents-padding;
    padding-right: $contents-padding;
}