
.l-side-kv{

  >.e-kv{

  }

  >.e-content{
    padding-top: 80px;

    @include tab{
      padding-top: 60px;
    }
  }

  &.is-sp-no-kv{
    @include tab{
      >.e-kv{
        display: none;
      }
    }
  }


  @include tab-up{
    $sidebar-width: 350px;

    >.e-kv{
      position: fixed;
      top:0;
      left:0;
      bottom:0;
      width: $sidebar-width;
    }

    >.e-content{
      margin-left: $sidebar-width;

    }
  }

  @include medium-up{
    $sidebar-width: 400px;

    >.e-kv{
      width: $sidebar-width;
    }

    >.e-content{
      margin-left: $sidebar-width;

    }
  }
}