extend /layout/struct

append head_end
  //- kv の swiper
  link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
  script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

block body_content
  .l-side-kv(class=(PAGE_NAME === "top" ? "" : "is-sp-no-kv"))
    .e-kv
      .c-side-kv
        //slider
        //画像書き出し
        //コーディング
        .e-bg-wrap 
          //のちにsliderになる
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .e-bg.is-1
              .swiper-slide
                .e-bg.is-2
              .swiper-slide
                .e-bg.is-3
              .swiper-slide
                .e-bg.is-4

          script.
            var mySwiper = new Swiper('.swiper-container', {
              speed: 3000,
              spaceBetween: 100,
              effect:"fade",
              resizeReInit:true,
              autoplay: {
                delay: 3000,
              }
            });


        .e-content
          .e-logo
            a.e-link(href="/")
              +img.e-img(src="/images/kv-logo.png", alt="" width="129" height="232")

          nav.e-pc-menu
            ul.e-list
              li.e-item(class=(FILE_PATH.match("/kouza") && "is-open") )
                .e-title さとみの講座
                .e-child
                  ul.e-sub-list
                    li.e-item
                      a.e-title( href="/kouza/miso" class=(FILE_PATH.match("kouza/miso") && "is-open") ) 味噌作り講座
                    li.e-item 
                      a.e-title( href="/kouza/tsukemono" class=(FILE_PATH.match("kouza/tsukemono") && "is-open") ) 漬物作り講座

              li.e-item(class=(FILE_PATH.match(/mahou-shoyu|mahou-tare/) && "is-open"))
                .e-title 調味料
                .e-child
                  ul.e-sub-list
                    li.e-item
                      a(href="/product/mahou-shoyu" class=(FILE_PATH.match("product/mahou-shoyu") && "is-open")).e-title 魔法のしょうゆ
                    li.e-item 
                      a(href="/product/mahou-tare" class=(FILE_PATH.match("product/mahou-tare") && "is-open")).e-title 魔法のたれ

              li.e-item(class=(FILE_PATH.match("/dentou") && "is-open"))
                a.e-title(href="/dentou/") 伝統手作り<wbr>の味
                .e-child
                  ul.e-sub-list
                    li.e-item
                      a.e-title(href="/dentou/miso" class=(FILE_PATH.match("/dentou/miso") && "is-open")) <small>糀たっぷり</small><br>天然醸造味噌
                    li.e-item 
                      a.e-title(href="/dentou/umeboshi" class=(FILE_PATH.match("/dentou/umeboshi") && "is-open")) 天日干し梅干し
                    li.e-item
                      a.e-title(href="/dentou/seisai" class=(FILE_PATH.match("/dentou/seisai") && "is-open")) 雪あたり青菜漬け
                    li.e-item 
                      a.e-title(href="/dentou/mochi" class=(FILE_PATH.match("/dentou/mochi") && "is-open")) 杵と臼でついた餅

              li.e-item
                a.e-title(href="/product/" target="_blank") 全ての商品

              li.e-item(class=((FILE_PATH.match(/product|event|blog|profile/) && !FILE_PATH.match(/mahou/)) && "is-open"))
                .e-title トピックス
                .e-child
                  ul.e-sub-list
                    li.e-item 
                      a.e-title(href="/event/" target="_blank" class=(FILE_PATH.match("/event") && "is-open")) 直営店・販売所
                    li.e-item 
                      a.e-title(href="/blog/" target="_blank" class=(FILE_PATH.match("/blog") && "is-open")) ブログ
                    li.e-item 
                      a.e-title(href="/profile" class=(FILE_PATH.match("/profile") && "is-open")) プロフィール
            .e-shadow

          .e-news
            p.e-line.is-date 2020.11.01
            .e-br
            p.e-line: a(href="/kouza/miso") 味噌作り講座のお申込みをスタートしました。
        .e-arrow
          +img.e-img(src="/images/kv-arrow.svg" no2x alt="スクロールしてください")

    main.e-content
      block side_content

      .c-sns-icons.u-mt-60
        a.e-link(href="/sns/facebook" target="_blank")
          img.e-icon(src="/images/icon-fb.svg" alt="")
          p.e-title Facebook

        a.e-link(href="/sns/line" target="_blank")
          img.e-icon(src="/images/icon-line.svg" alt="")
          p.e-title LINE

        a.e-link(href="/sns/youtube" target="_blank")
          img.e-icon(src="/images/icon-youtube.svg" alt="")
          p.e-title YouTube


      footer.c-page-footer
        .e-inner.l-content-column
          a.e-gotop(href="#top")
            +img.e-icon(src="/images/icon-gotop.png", alt="上へ")
            span.e-text 上へ戻る

          p.e-title.
            さとみの漬物講座企業組合
          p.e-address.
            〒990-2374<br>
            山形県山形市大字古館31　山二醤油醸造（株）内<br>
            TEL/FAX 023-643-2515

          hr.e-line
          p.e-copyright.
            niizekisatomi.com ©︎ all rights reserved.<br>
            当サイトの内容・構成・デザイン・画像の無断転載、複製（コピー)は一切禁止しています。<br>
            料理及び漬物の写真はカメラマン菊地和男氏、牧野純子氏によるものです。
