doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Global site tag (gtag.js) - Google Analytics 
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-156965150-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-156965150-2');


    block head_begin

    - let page_title =  (PAGE_NAME_JA ? PAGE_NAME_JA + " | ":"" ) + "新関さとみの田舎ごはん - 山形の漬物・料理を守っています！"
    - let page_description = PAGE_DESCRIPTION || "新関さとみの田舎ごはんへようこそ！"

    base(href="/")

    title= page_title 
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet")
    link(href="style.css" rel="stylesheet")

    //-いずれ scss バージョンを使った方がいいのかも
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")


    script(src="js/jquery-2.2.1.min.js" defer)
    script(src="js/script.js" defer)
    script(src="js/anchor_scroll.js" defer)

    script(type='application/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')
    script.
      if ('addEventListener' in document) {
          document.addEventListener('DOMContentLoaded', function() {
              FastClick.attach(document.body);
          }, false);
      }

      //*/

    meta(name="description" content=page_description)
    meta(property="og:title" content=page_title )
    meta(property="og:description" content=page_description)
    meta(property="og:image" content="")
    meta(property="image_src" content="")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="新関さとみの田舎ごはん")
    meta(property="og:site_url" content="http://new.niizekisatomi.com/")


    //noto sans
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")
    //migo pro
    script.
      (function(d) {
        var config = {
          kitId: 'fxe2bbp',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    //todo favicon 設定 

    // ※Twitter共通設定 

    meta(name="twitter:card" content="summary_large_image")

    block head_end

  body#top
    block body_begin

    include /include/mixins.pug

    .c-global-nav
      if FILE_PATH !== "/"
        .e-topbar
          a.e-site-logo(href="/")
            img.e-img(src="/images/site-logo_sp@2x.png", alt="新関さとみの田舎ごはん")

      button.e-menu-button.js-open-menu
        +img.e-img(src="/images/button-menu.svg", no2x alt="メニュー")

      nav.e-menu
        .e-inner
          ul.e-list
            li.e-item
              .e-title さとみの講座
              ul.e-sub-list
                li.e-item
                  a.e-title(href="/kouza/miso" class=(FILE_PATH.match("kouza/miso") && "is-open")) 味噌作り講座
                li.e-item 
                  a.e-title(href="/kouza/tsukemono" class=(FILE_PATH.match("kouza/tsukemono") && "is-open")) 漬物作り講座

            li.e-item
              .e-title 調味料
              ul.e-sub-list
                li.e-item
                  a(href="/product/mahou-shoyu" class=(FILE_PATH.match("product/mahou-shoyu") && "is-open")).e-title 魔法のしょうゆ
                li.e-item 
                  a(href="/product/mahou-tare" class=(FILE_PATH.match("product/mahou-tare") && "is-open")).e-title 魔法のたれ

            li.e-item
              .e-title 伝統手作り<wbr>の味
              ul.e-sub-list
                li.e-item
                  a.e-title(href="/dentou/miso" class=(FILE_PATH.match("/dentou/miso") && "is-open")) 天然醸造味噌
                li.e-item 
                  a.e-title(href="/dentou/umeboshi" class=(FILE_PATH.match("/dentou/umeboshi") && "is-open")) 天日干し梅干し
                li.e-item
                  a.e-title(href="/dentou/seisai" class=(FILE_PATH.match("/dentou/seisai") && "is-open")) 雪あたり青菜漬け
                li.e-item 
                  a.e-title(href="/dentou/mochi" class=(FILE_PATH.match("/dentou/mochi") && "is-open")) 杵と臼でついた餅


            li.e-item
              .e-title トピックス
              ul.e-sub-list
                li.e-item
                  a.e-title(href="/product" class=(FILE_PATH.match("/product/$") && "is-open")) 全ての商品
                li.e-item 
                  a.e-title(href="/event" class=(FILE_PATH.match("/event") && "is-open")) 直営店・販売所
                li.e-item 
                  a.e-title(href="/blog" class=(FILE_PATH.match("/blog") && "is-open")) ブログ
                li.e-item 
                  a.e-title(href="/profile" class=(FILE_PATH.match("/profile") && "is-open")) プロフィール

          .e-link
            a.c-button(href="https://tsukemono.info/" target="_blank") ショッピングサイトはこちら


    block body_content

    block body_end

