
.p-dentou-banners{
  .e-list{
    list-style: none;

    @include sp-up{
      @include grid(8);
    }


    .e-item{
      @include sp-up{
        @include grid__cell(6, 8);
      }
      margin-bottom: 8px;

    }
  }

}


.p-dentou-banner{
  display: block;
  position: relative;

  .e-img{
    display: block;
    width: 100%;
  }
  .e-title{
    position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

    background: rgba(#000, .45);

    color: #fff;
    display: flex;
      justify-content: center;
      align-items: center;
    
    font-size: 2.1rem;
    font-weight: bold;

    @include small{
      font-size: 1.8rem;
    }

    .e-icon{ 
      vertical-align: middle;
      margin-right: .5em;

    }
    .e-text{
      vertical-align: middle;
      line-height: 1;
    }
  }
}