


.p-kouza-section{
  margin-bottom: 60px;

  >.e-title{
    display: flex;
      justify-content: stretch;
      align-items: center;

    margin-bottom: 2.4rem;
    line-height: 1;

    &::before,
    &::after{
      flex: 1 1 auto;
      content: "";
      border-bottom: 1px solid;
    }
    >.e-content{
      margin:0 10px;
    }
  }

  >.e-border{
    margin-top: 23px;
    border:0;
    border-bottom: 1px solid #000;
    height: 0;
  }
}



.p-kouza-buttons-caution{
  font-size: 1.4rem;
  color: #666;

  max-width: 800px;
  margin: 0 auto;
}













.p-miso-type-kv{
  display: block;
  width: 100%;
  margin-bottom: 20px;

}


.p-miso-godown{

  text-align: center;
  margin-bottom: 30px;

  >.e-link{
    font-size: 1.4rem;

  }
  >.e-arrow{

    
  }

}


.p-miso-info-content{
  font-size: 1.6rem;
  line-height: (24/14);

  padding-left: 15px;
  margin-bottom: 30px;

}

