

.p-mahou-nav{
  @include grid(11);

  position: relative;

  max-width: 800px;
  margin: 0 auto;


  >.e-item{
    @include grid__cell(4, 11);
    position: relative;

    padding-bottom: 5px;
    margin-bottom: 5px;

    text-align: center;

    &:last-child{
      padding-bottom: 0px;
      margin-bottom: 0px;

      &::after{
        display: none;
      }
    }

    &::after{ //間の線
      content: "";

      position: absolute;
        top:18px;
        right:-6px;
        bottom:18px;

      width:0;
      border-right: 1px solid #000;
    }

    >.e-link{
      display: block;

      @include bg-slash(#aaa);

      padding-top: 21px;
      padding-bottom: 21px;


      clip-path: polygon(
        calc(100% - 15px) 0%, 
        100% 15px, 
        100% calc(100% - 15px), 
        calc(100% - 15px) 100%,
        15px 100%,
        0% calc(100% - 15px),
        0% 15px,
        15px 0% ,
      );




      &.is-current{
        @include bg-slash($color-red);
      }

      &:hover{
        @include bg-slash($color-yellow);
      }

      >.e-title{

        margin-bottom: 5px;

        line-height: 1;
        white-space: nowrap;
        >.e-sub{
          font-size: 1.4rem;
          margin-bottom: 9px;
        }
        >.e-main{
          font-size: 1.8rem;

        }
      }
    }
  }
}

.p-mahou-column{
  background: #FFEFEA ;
  padding: 30px 0 60px;

}