

.p-profile-history-table{
  >tbody{
    >tr{
      >th{
        white-space: nowrap;

        @include sp{
          display: block;
          padding-top: 1rem;
        }

      }
      >td{
        padding-bottom: 1rem;

        @include sp{
          display: block;
        }

      }

    }

  }

}