

.p-top-quick{
  @include grid(10);
  margin-bottom: 90px;

  @include sp-up{
    @include grid(20);
    margin-bottom: 60px;
  }


  .e-item{
    @include grid__cell(6, 10);
    position: relative;
    overflow: hidden;

    border: 2px solid #000;
    padding: 12px 9px;
    margin-bottom: 10px;
    

    background: #fff;


    @include sp-up{
      @include grid__cell(3, 20);
    }

    &::after{
      content: "";
      position: absolute;
        right:-15px;
        bottom:-15px;

      width: 30px;
      height: 30px;

      background: #000;
      transform: rotate(45deg);
      


    }

    .e-inner{

      padding-top: 100%;
      position: relative;

      .e-inner-inner{

        position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;

        display: flex;
          flex-direction: column;

        .e-title{
          line-height: 1.2;

          font-weight: bold;
        }
        .e-image{


          margin-top: auto;
          text-align: center;

          .e-img{
            max-width:  50%;
            width: 100%;
          }

        }
        .e-click{
          text-align: right;

        }
      }
    }
  }
}

.p-top-kouzas{
  margin-left: -$contents-padding;
  margin-right: -$contents-padding;

  @include sp-up{
    @include grid(0);
  }

  .e-kouza{
    position: relative;

    padding: 60px $contents-padding;

    @include sp-up{
      @include grid__cell(6, 0);
    }

    &.is-miso{
      @include bg-slash(#FFFE24);
    }

    .e-link{
      display: block;
      position: relative;
      .e-title{
        font-size: 2.4rem;
        line-height: 1;

        margin-bottom: 12px;

        &::after{
          content:"";
          display: block;
          margin-top:10px;
          width: 1.5em;
          height:0;
          border-bottom:2px solid;
        }

      }
      .e-thumb{

        .e-img{
          width: 100%;


        }

      }
      .e-daikohyo{
        position: absolute;
          top:0;
          right:0;

        width: 91px;
        height: 91px;
      }
      .e-desc{

        margin-top: 15px;
        margin-bottom: 30px;
        @include lineHeightCrop;

      }
      .e-footer{
        display: flex;
        align-items: flex-end;

        .e-click{
          flex: 1 1 0;

          position: relative;
          padding-right: 30px;
          border-bottom: 2px solid ;

          text-align: right;

          &::after{
            content: "";
            display: block;

            position: absolute;
              right: 0;
              bottom: 0;

            border-bottom: 2px solid ;

            margin-bottom: -2px;
            width: 20px;
            transform: rotate(45deg);
            transform-origin: right bottom;
          }
        }
        .e-detail{
          color: $color-bright-red;
          font-weight: bold;
          flex: 1 0 0;
          border-bottom: 2px dashed ;
          margin-left: 20px;
          text-align: right;
          white-space: nowrap;
        }

      }

    }

  }

}


.p-top-bottles{

  padding: 70px 0px;

  @include sp-up{
    @include grid(20);
  }

  .e-bottle{
    @include sp-up{
      @include grid__cell(6,20);
    }

    flex: 0 0 50%;
    display: flex;
          
    margin-bottom: 50px;

    &.is-sp-reverse{
      @include sp{
        flex-direction: row-reverse;

        .e-title{
          padding-left: 0px;
          padding-right: 5px;

          &::before{
            left: auto;
            right: -.1em;

          }
        }
      }
    }

    .e-title{
      position: relative;

      padding-left: 5px;

      line-height: 1;
      text-orientation: upright;
      writing-mode: vertical-rl;

      font-size: 2.4rem;


      &::before{
        position: absolute;
          top: -1em;
          left: -.1em;

        content: "";
        height: 1.5em;
        width: 0;
        border-left: 2px solid;
      }
    }

    .e-thumb{
      flex: 0 1 auto;
      margin: 0 24px;


      @include small{
        margin: 0 10px;
      }

      .e-img{
        width: 100px;
      }
    }

    .e-content{
      flex: 0 0 50%;

      padding-top: 60px;


          
      .e-catch-copy{
        margin-bottom: 45px;
          
      }

      .e-buttons{
          
        .e-button{
          
          display: block;

          margin-bottom: 15px;
          border: 2px solid;
          padding: (12/16)*1em (11/16)*1em;

          box-shadow: 3px 3px 0px ;

          text-align: center;
          line-height: 1;
          font-weight: bold;

          white-space: nowrap;

          @include small{
            font-size: 1.4rem;
          }
          &.is-purchase{
            color: $color-bright-red;
            &::before{
              content: "";

            }
          }
        }
      }

      .e-info{
        font-weight: bold;

        .e-price{
          font-size: 2.2rem;
          color: $color-bright-red;
        }
        .e-tax{
          font-size: 1.2rem;

        }
      }
    }
  }
}


.p-top-dentou{
  padding-bottom: 90px;

  .e-heading{
    font-size: 2.4rem;

    margin-bottom: 26px;

  }

  .e-desc{

    margin-bottom: 30px;
  }
  
  .e-list{
    list-style: none;

    @include sp-up{
      @include grid(8);
    }

    .e-item{
      @include sp-up{
        @include grid__cell(6, 8);
      }
      margin-bottom: 8px;

      .e-link{
        display: block;
        position: relative;

        .e-img{
          display: block;
          width: 100%;
        }
        .e-title{
          position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;

          background: rgba(#000, .45);

          color: #fff;
          display: flex;
            justify-content: center;
            align-items: center;
          
          font-size: 2.1rem;
          font-weight: bold;

          @include small{
            font-size: 1.8rem;
          }

          .e-icon{ 
            vertical-align: middle;
            margin-right: .5em;

          }
          .e-text{
            vertical-align: middle;
            line-height: 1;
          }
        }
      }
    }
  }

  .e-footer{
    display: flex;
    align-items: flex-end;

    .e-click{
      flex: 1 1 0;

      position: relative;
      padding-right: 30px;
      border-bottom: 2px solid ;

      text-align: right;

      &::after{
        content: "";
        display: block;

        position: absolute;
          right: 0;
          bottom: 0;

        border-bottom: 2px solid ;

        margin-bottom: -2px;
        width: 20px;
        transform: rotate(45deg);
        transform-origin: right bottom;
      }
    }
    .e-detail{
      color: $color-bright-red;
      font-weight: bold;
      flex: 1 0 0;
      border-bottom: 2px dashed ;
      margin-left: 20px;
      text-align: right;
      white-space: nowrap;
    }
  }
}


.p-top-products{

  padding: 60px 0;

  @include bg-slash(#FFFE24);

  .e-inner{
    padding: 0 20px 26px;

    max-width: $contents-width;
    margin: 0 auto;;

    .e-heading{
      line-height: 1;
    }
  }

  .e-scroll{
    overflow-x: scroll;
    margin-bottom: 26px;

    .e-list{
      display: inline-flex;
      list-style: none;

      padding-left: 20px;

      .e-item{
        flex: 0 0 auto;
        margin-right: 20px;


        .e-link{

          .e-img{
            display: block;

            width: 100px;
          }

          .e-more{
            width: 100px;
            height: 100px;
            border-radius: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            background: #fff;
          }

          .e-title{

          }
        }
      }
    }
  }


}


.p-top-events{
  padding: 60px 0;

}


.p-top-blog{
  padding: 60px 0;

  @include bg-slash(#FFFE24);

  .e-heading{

  }


  .e-link{
    display: block;

    .e-article{
      margin-bottom: 30px;
      display: flex;

      &.is-big{
        flex-direction: column;

        .e-img{
          @extend .is-big;
        }

        >.e-content{
          @extend .is-big;
          >.e-title{
            @extend .is-big;
          }
        }
      }

      .e-img{

        display: block;

        flex: 0 0 auto;
        width: 127px;

        margin-right:10px;


        &.is-big{
          width: 100%;
          margin-right:0px;
        }

      }

      .e-content{
        flex: 1 0 auto;
        width: 50%;
        &.is-big{
          width: 100%;
        }


        .e-title{
          margin-bottom: 12px;

          font-weight: normal;
          font-size: 2.1rem;

          &.is-big{

            margin-top: 5px;
          }
        }
        .e-date{
          font-size: 1.6rem;
          line-height: 1;
        }
      }
    }
  }
}


.p-top-profile-section{

  padding: 60px 0;

}





.c-sns-icons{
  max-width: 300px;

  text-align: center;

  @include grid(0);

  margin: 0 auto;

  .e-link{
    @include grid__cell(4, 0);

    .e-icon{

    }
    .e-title{
      color: #666;
      white-space: nowrap;
    }
  }
}