extend /layout/struct

append head_begin
  - const PAGE_NAME = "purchase-book-vynil-tsukemono";
  - const PAGE_NAME_JA = "「ビニール袋手早くできる！野菜のうまみが活きる漬物」";
  - const PAGE_DESCRIPTION = PAGE_NAME_JA;
  meta(http-equiv="refresh", content="0; url=https://tsukemono.info/SHOP/994349/994364/list.html")